<template>
  <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light "  >
      <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
        <template v-for="item in menu">
          <li
            v-if="item.children && item.children.length > 0"
            :class="{
              'm-menu__item': true,
              'm-menu__item--active': item.active,
              'm-menu__item--submenu': true,
              'm-menu__item--rel': !(item.childStyle === 'mega')
            }"
            m-menu-submenu-toggle="click"
            m-menu-link-redirect="1"
            aria-haspopup="true"
          >
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
              <span class="m-menu__item-here"></span>
              <span v-if="item.hasBadge" class="m-menu__link-title">
                <span class="m-menu__link-wrap">
                  <span class="m-menu__link-text">{{ item.title }}</span>
                  <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + item.badgeColor">{{ item.badgeValue }}</span></span>
                </span>
              </span>
              <span v-else class="m-menu__link-text">{{ item.title }}</span>
              <i class="m-menu__hor-arrow la la-angle-down"></i>
              <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div v-if="item.childStyle === 'mega'" class="m-menu__submenu m-menu__submenu--full">
              <span class="m-menu__arrow m-menu__arrow--adjust"></span>
              <div class="m-menu__subnav">
                <ul class="m-menu__content">
                  <li class="m-menu__item" v-for="subItem in item.children">
                    <h3 class="m-menu__heading m-menu__toggle">
                      <span v-if="subItem.hasBadge" class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">{{ subItem.title }}</span>
                          <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem.badgeColor">{{ subItem.badgeValue }}</span></span>
                        </span>
                      </span>
                      <span v-else class="m-menu__link-text">{{ subItem.title }}</span>
                      <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </h3>
                    <ul class="m-menu__inner">
                      <template v-for="subItem2 in subItem.children">
                        <template v-if="subItem2.url">
                          <li class="m-menu__item" aria-haspopup="true">
                            <a :href="subItem2.url" class="m-menu__link">
                              <span class="m-menu__item-here"></span>
                              <i v-if="subItem2.icon" :class="'m-menu__link-icon ' + subItem2.icon"></i>
                              <span v-if="subItem2.hasBadge" class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                  <span class="m-menu__link-text">{{ subItem2.title }}</span>
                                  <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem2.badgeColor">{{ subItem2.badgeValue }}</span></span>
                                </span>
                              </span>
                              <span v-else class="m-menu__link-text">{{ subItem2.title }}</span>
                            </a>
                          </li>
                        </template>
                        <router-link
                          v-else
                          :to="{ name: subItem2.routeName }"
                          tag="li"
                          :exact="subItem2.routeName == 'dashboard'"
                          active-class="m-menu__item--active"
                          class="m-menu__item"
                          aria-haspopup="true"
                        >
                          <a class="m-menu__link">
                            <i v-if="subItem2.icon" :class="'m-menu__link-icon ' + subItem2.icon"></i>
                            <span v-if="subItem2.hasBadge" class="m-menu__link-title">
                              <span class="m-menu__link-wrap">
                                <span class="m-menu__link-text">{{ subItem2.title }}</span>
                                <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem2.badgeColor">{{ subItem2.badgeValue }}</span></span>
                              </span>
                            </span>
                            <span v-else class="m-menu__link-text">{{ subItem2.title }}</span>
                          </a>
                        </router-link>
                      </template>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
            <div v-else class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
              <span class="m-menu__arrow m-menu__arrow--adjust"></span>
              <ul class="m-menu__subnav">
                <template v-for="subItem in item.children">
                  <li
                    v-if="subItem.children && subItem.children.length > 0"
                    :class="{
                      'm-menu__item': true,
                      'm-menu__item--active': subItem.active,
                      'm-menu__item--submenu': true
                    }"
                    m-menu-submenu-toggle="hover"
                    m-menu-link-redirect="1"
                    aria-haspopup="true"
                  >
                    <a href="javascript:;" class="m-menu__link m-menu__toggle">
                      <i class="m-menu__link-icon flaticon-business"></i>
                      <span v-if="subItem.hasBadge" class="m-menu__link-title">
                        <span class="m-menu__link-wrap">
                          <span class="m-menu__link-text">{{ subItem.title }}</span>
                          <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem.badgeColor">{{ subItem.badgeValue }}</span></span>
                        </span>
                      </span>
                      <span v-else class="m-menu__link-text">{{ subItem.title }}</span>
                      <i class="m-menu__hor-arrow la la-angle-right"></i>
                      <i class="m-menu__ver-arrow la la-angle-right"></i>
                    </a>
                    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                      <span class="m-menu__arrow "></span>
                      <ul class="m-menu__subnav">
                        <template v-for="subItem2 in subItem.children">
                          <template v-if="subItem2.url">
                            <li class="m-menu__item" aria-haspopup="true">
                              <a :href="subItem2.url" class="m-menu__link">
                                <span class="m-menu__item-here"></span>
                                <i v-if="subItem2.icon" :class="'m-menu__link-icon ' + subItem2.icon"></i>
                                <span v-if="subItem2.hasBadge" class="m-menu__link-title">
                                  <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">{{ subItem2.title }}</span>
                                    <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem2.badgeColor">{{ subItem2.badgeValue }}</span></span>
                                  </span>
                                </span>
                                <span v-else class="m-menu__link-text">{{ subItem2.title }}</span>
                              </a>
                            </li>
                          </template>
                          <router-link
                            v-else
                            :to="{ name: subItem2.routeName }"
                            tag="li"
                            :exact="subItem2.routeName == 'dashboard'"
                            active-class="m-menu__item--active"
                            class="m-menu__item"
                            aria-haspopup="true"
                          >
                            <a class="m-menu__link">
                              <i v-if="subItem2.icon" :class="'m-menu__link-icon ' + subItem2.icon"></i>
                              <span v-if="subItem2.hasBadge" class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                  <span class="m-menu__link-text">{{ subItem2.title }}</span>
                                  <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem2.badgeColor">{{ subItem2.badgeValue }}</span></span>
                                </span>
                              </span>
                              <span v-else class="m-menu__link-text">{{ subItem2.title }}</span>
                            </a>
                          </router-link>
                        </template>
                      </ul>
                    </div>
                  </li>
                  <template v-else>
                    <template v-if="subItem.url">
                      <li class="m-menu__item" aria-haspopup="true">
                        <a :href="subItem.url" class="m-menu__link">
                          <span class="m-menu__item-here"></span>
                          <i v-if="subItem.icon" :class="'m-menu__link-icon ' + subItem.icon"></i>
                          <span v-if="subItem.hasBadge" class="m-menu__link-title">
                            <span class="m-menu__link-wrap">
                              <span class="m-menu__link-text">{{ subItem.title }}</span>
                              <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem.badgeColor">{{ subItem.badgeValue }}</span></span>
                            </span>
                          </span>
                          <span v-else class="m-menu__link-text">{{ subItem.title }}</span>
                        </a>
                      </li>
                    </template>
                    <router-link
                      v-else
                      :to="{ name: subItem.routeName }"
                      tag="li"
                      :exact="subItem.routeName == 'dashboard'"
                      active-class="m-menu__item--active"
                      class="m-menu__item"
                      aria-haspopup="true"
                    >
                      <a class="m-menu__link">
                        <span class="m-menu__item-here"></span>
                        <i v-if="subItem.icon" :class="'m-menu__link-icon ' + subItem.icon"></i>
                        <span v-if="subItem.hasBadge" class="m-menu__link-title">
                          <span class="m-menu__link-wrap">
                            <span class="m-menu__link-text">{{ subItem.title }}</span>
                            <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + subItem.badgeColor">{{ subItem.badgeValue }}</span></span>
                          </span>
                        </span>
                        <span v-else class="m-menu__link-text">{{ subItem.title }}</span>
                      </a>
                    </router-link>
                  </template>
                </template>
              </ul>
            </div>
          </li>
          <router-link
            v-else
            :to="{ name: item.routeName }"
            tag="li"
            :exact="item.routeName == 'dashboard'"
            active-class="m-menu__item--active"
            class="m-menu__item"
            aria-haspopup="true"
          >
            <a class="m-menu__link">
              <span class="m-menu__item-here"></span>
              <span v-if="item.hasBadge" class="m-menu__link-title">
                <span class="m-menu__link-wrap">
                  <span class="m-menu__link-text">{{ item.title }}</span>
                  <span class="m-menu__link-badge"><span :class="'m-badge m-badge--' + item.badgeColor">{{ item.badgeValue }}</span></span>
                </span>
              </span>
              <span v-else class="m-menu__link-text">{{ item.title }}</span>
            </a>
          </router-link>
        </template>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: ['menu']
}
</script>
