<template>

<!-- begin::Header -->
<header id="m_header" class="m-grid__item   m-header "  m-minimize="minimize" m-minimize-offset="200" m-minimize-mobile-offset="200" >
  <div class="m-header__top">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- begin::Brand -->
        <div class="m-stack__item m-brand">
          <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
            <div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a href="/" class="m-brand__logo-wrapper">
                <img alt="" src="../../img/logo.png" height="40" />
              </a>
            </div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-left m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
                <a href="#" class="dropdown-toggle m-dropdown__toggle btn btn-outline-metal m-btn  m-btn--icon m-btn--pill">
                <span>
                Dashboard
                </span>
                </a>
                <div class="m-dropdown__wrapper">
                  <span class="m-dropdown__arrow m-dropdown__arrow--left m-dropdown__arrow--adjust"></span>
                  <div class="m-dropdown__inner">
                    <div class="m-dropdown__body">
                      <div class="m-dropdown__content">
                        <ul class="m-nav">
                          <li class="m-nav__section m-nav__section--first m--hide">
                            <span class="m-nav__section-text">
                            Quick Menu
                            </span>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-share"></i>
                            <span class="m-nav__link-text">
                            Human Resources
                            </span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">
                            Customer Relationship
                            </span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-info"></i>
                            <span class="m-nav__link-text">
                            Order Processing
                            </span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                            <span class="m-nav__link-text">
                            Accounting
                            </span>
                            </a>
                          </li>
                          <li class="m-nav__separator m-nav__separator--fit"></li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                            <span class="m-nav__link-text">
                            Customer Relationship
                            </span>
                            </a>
                          </li>
                          <li class="m-nav__item">
                            <a href="" class="m-nav__link">
                            <i class="m-nav__link-icon flaticon-info"></i>
                            <span class="m-nav__link-text">
                            Order Processing
                            </span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- begin::Responsive Header Menu Toggler-->
              <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
              <span></span>
              </a>
              <!-- end::Responsive Header Menu Toggler-->
              <!-- begin::Topbar Toggler-->
              <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
              <i class="flaticon-more"></i>
              </a>
              <!--end::Topbar Toggler-->
            </div>
          </div>
        </div>
        <!-- end::Brand -->
        <!-- begin::Topbar -->
        <top-bar></top-bar>
        <!-- end::Topbar -->
      </div>
    </div>
  </div>
  <div class="m-header__bottom">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- begin::Horizontal Menu -->
        <horizontal-menu :menu="menu"></horizontal-menu>
        <!-- end::Horizontal Menu -->
        <!--begin::Search-->
<div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-" id="m_quicksearch" m-quicksearch-mode="default">

  <!--begin::Search Form -->
  <form class="m-header-search__form">
    <div class="m-header-search__wrapper">
      <span class="m-header-search__icon-search" id="m_quicksearch_search">
        <i class="la la-search"></i>
      </span>
      <span class="m-header-search__input-wrapper">
        <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
      </span>
      <span class="m-header-search__icon-close" id="m_quicksearch_close">
        <i class="la la-remove"></i>
      </span>
      <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
        <i class="la la-remove"></i>
      </span>
    </div>
  </form>
  <!--end::Search Form -->

  <!--begin::Search Results -->
  <div class="m-dropdown__wrapper">
    <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
    <div class="m-dropdown__inner">
      <div class="m-dropdown__body">
        <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true"  data-max-height="300" data-mobile-max-height="200">
          <div class="m-dropdown__content m-list-search m-list-search--skin-light">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Search Results -->
</div>
<!--end::Search-->      </div>
    </div>
  </div>
</header>
<!-- end::Header -->


</template>

<script>
import HeaderTopBarComponent from './HeaderTopBarComponent'
import HeaderHorizontalMenuComponent from './HeaderHorizontalMenuComponent'
import { mapGetters, mapActions } from 'vuex'
import { COUNT } from '../store/modules/contributed-product/getter-types'
import { SYNC_COUNT } from '../store/modules/contributed-product/action-types'

export default {
  components: {
    'top-bar': HeaderTopBarComponent,
    'horizontal-menu': HeaderHorizontalMenuComponent
  },
  computed: {
    ...mapGetters('contributedProduct', {
      contributedProductCount: COUNT
    }),
    menu() {
      return [
        {
          title: 'Tổng quan',
          routeName: 'dashboard'
        },
        {
          title: 'Doanh nghiệp',
          routeName: null,
          active: [
            'business.batchAssignProduct'
          ].indexOf(this.$route.name) >= 0,
          childStyle: 'mega',
          megaStyleWidth: 600,
          children: [
            {
              title: 'Doanh nghiệp',
              routeName: null,
              children: [
                // {
                //   icon: 'la la-building',
                //   title: 'Tất cả doanh nghiệp',
                //   routeName: 'business.business.index',
                //   children: []
                // },
                // {
                //   icon: 'la la-building',
                //   title: 'Gói đăng ký',
                //   routeName: 'business.plan.index',
                //   children: []
                // },
                // {
                //   icon: 'la la-building',
                //   title: 'Yêu cầu đăng ký gói',
                //   routeName: 'business.subscription.index',
                //   children: []
                // },
                {
                  icon: 'la la-building',
                  title: 'Danh sách doanh nghiệp',
                  url: '/business_management/businesses',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Quản lý đăng ký gói dịch vụ',
                  url: '/business_management/subscriptions',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Quản lý mã gln',
                  url: '/business_management/glns',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Quản lý sản phẩm',
                  url: '/business_management/products',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Yêu cầu quản lý sản phẩm',
                  url: '/business_management/productRequests',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Quản lý nhà phân phối',
                  url: '/business_management/distributors',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Yêu cầu thêm nhà phân phối cho sản phẩm',
                  url: '/business_management/productDistributors',
                  children: []
                },
                // {
                //   icon: 'la la-building',
                //   title: 'Quản lý giấy tờ',
                //   url: '/business_management/certificates',
                //   children: []
                // },
                {
                  icon: 'la la-building',
                  title: 'Quản lý gói dịch vụ',
                  url: '/business_management/plans',
                  children: []
                },
                {
                  icon: 'la la-building',
                  title: 'Quản lý ngày nghỉ',
                  url: '/business_management/holidays',
                  children: []
                }
              ]
            },
            {
              title: 'Sản phẩm',
              routeName: null,
              children: [
                {
                  icon: 'la la-folder-o',
                  title: 'Gán nhiều sản phẩm cho doanh nghiệp',
                  routeName: 'business.batchAssignProduct',
                  children: []
                },
                {
                  icon: 'la la-folder-o',
                  title: 'Yêu cầu quản lý sản phẩm',
                  routeName: 'business.manageProductRequest.index',
                  children: []
                }
              ]
            },
            {
              title: 'Công cụ',
              routeName: null,
              children: [
                {
                  icon: 'la la-envelope',
                  title: 'Gửi tin nhắn cho tất cả người dùng',
                  routeName: 'business.sendBusinessMessageToAllUsers',
                  children: []
                }
              ]
            }
          ]
        },
        {
          title: 'Sản phẩm',
          routeName: null,
          active: [
            'contributedProduct.pendingReview',
            'contributedProduct.reviewHistorical',
            'product.category.index',
            'product.product.index',
            'product.product.edit',
            'product.product.batchUpdateProductStatus'
          ].indexOf(this.$route.name) >= 0,
          childStyle: 'mega',
          megaStyleWidth: 900,
          children: [
            {
              title: 'Sản phẩm',
              routeName: null,
              children: [
                {
                  icon: 'la la-folder-o',
                  title: 'Danh mục sản phẩm',
                  routeName: 'product.category.index',
                  children: []
                },
                {
                  icon: 'la la-barcode',
                  title: 'Tất cả sản phẩm',
                  routeName: 'product.product.index',
                  children: []
                }
              ]
            },
            {
              title: 'Sản phẩm được đóng góp',
              routeName: null,
              children: [
                {
                  icon: 'la la-barcode',
                  title: 'Đang chờ duyệt',
                  hasBadge: this.contributedProductCount && this.contributedProductCount.pendingReview > 0,
                  badgeValue: this.contributedProductCount && this.contributedProductCount.pendingReview,
                  badgeColor: 'primary',
                  routeName: 'contributedProduct.pendingReview',
                  children: []
                },
                {
                  icon: 'la la-clock-o',
                  title: 'Lịch sử duyệt',
                  routeName: 'contributedProduct.reviewHistorical',
                  children: []
                }
              ]
            },
            {
              title: 'Công cụ',
              routeName: null,
              children: [
                {
                  icon: 'la la-toggle-off',
                  title: 'Cập nhật trạng thái của nhiều sản phẩm',
                  routeName: 'product.product.batchUpdateProductStatus',
                  children: []
                },
                {
                  icon: 'la la-toggle-off',
                  title: 'Ẩn / Hiện điểm bán của nhiều sản phẩm',
                  routeName: 'product.product.batchShowHideProductStore',
                  children: []
                }
              ]
            }
          ]
        },
        {
          title: 'Nhận dạng và Truy cập',
          routeName: null,
          active: ['iamAdmin.iam.index', 'iamAdmin.role.index'].indexOf(this.$route.name) >= 0,
          children: [
            // {
            //   icon: 'la la-user-plus',
            //   title: 'Nhận dạng và Truy cập',
            //   routeName: 'iamAdmin.member.index',
            //   children: []
            // },
            // {
            //   icon: 'la la-user-secret',
            //   title: 'Vai trò',
            //   routeName: 'iamAdmin.role.index',
            //   children: []
            // },
            {
              icon: 'la la-user-secret',
              title: 'Quản lý danh sách người dùng',
              url: '/user_management/users',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Quản lý danh sách nhóm quyền',
              url: '/user_management/roles',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Quản lý danh sách quyền truy cập',
              url: '/user_management/permissions',
              children: []
            }
          ]
        },
        {
          title: 'QR Code',
          routeName: null,
          active: ['qrCode.agency.index', 'qrCode.agency.create', 'qrCode.agency.edit', 'qrCode.company.index'].indexOf(this.$route.name) >= 0,
          children: [
            {
              icon: 'la la-user-plus',
              title: 'Quản lý Đại lý',
              url: '/qrcode/agencies',
              children: []
            },
            // {
            //   icon: 'la la-user-plus',
            //   title: 'Danh sách Công ty',
            //   routeName: 'qrCode.company.index',
            //   children: []
            // },
            {
              icon: 'la la-user-plus',
              title: 'Doanh nghiệp',
              url: '/qrcode/companies',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Đơn hàng',
              url: '/qrcode/order',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Doanh nghiệp mới đăng ký',
              url: '/qrcode/companies/new_company',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Quản lý files thiết kế',
              url: '/qrcode/templates',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Quản lý lô tem',
              url: '/qrcode/batch',
              children: []
            },
            {
              icon: 'la la-user-secret',
              title: 'Quản lý tem Marketing',
              url: '/qrcode/marketingStamps',
              children: []
            }
          ]
        },
        {
          title: 'Affiliate',
          routeName: null,
          active: false,
          children: [
            {
              icon: 'la la-user-plus',
              title: 'Chiến dịch Affiliate',
              url: '/affiliate/promotion',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Số liệu thống kê',
              url: '/affiliate/promotion/statistics',
              children: []
            }
          ]
        },
        {
          title: 'CTV',
          routeName: null,
          active: false,
          children: [
            {
              icon: 'la la-user-plus',
              title: 'Quản lý thông tin sản phẩm đóng góp',
              url: '/collaborator/contributed_informations',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Quản lý Sản phẩm cần đóng góp',
              url: '/collaborator/need_update_products',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Quản lý nhóm CTV',
              url: '/collaborator/collaborator_groups',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Quản lý danh sách CTV',
              url: '/collaborator/collaborator_list',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Quản lý danh mục Sản phẩm',
              url: '/collaborator/product_categories',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Quản lý công việc',
              url: '/collaborator/jobs',
              children: []
            },
            {
              icon: 'la la-user-plus',
              title: 'Tool cộng tác viên',
              url: '/app/',
              children: []
            }
          ]
        }
      ]
    }
  },
  created() {
    this.$store.dispatch('contributedProduct/' + SYNC_COUNT)
  }
}
</script>
