<template>
  <select class="form-control m-select2" multiple="multiple">
  </select>
</template>

<script>
import $ from 'jquery'
import select2 from 'select2'

export default {
  props: ['value'],
  mounted() {
    const vm = this

    $(this.$el)
      .select2({
        placeholder: 'Nhập iCheck ID',
        minimumInputLength: 1,
        ajax: {
          delay: 500,
          url({ term }) {
            return '/core/accounts/' + (term || '_')
          },
          data() {
            return {}
          },
          processResults({ data }) {
            data.id = data.icheckId
            data.text = data.name + ' (' + data.id + ')';

            return {
              results: [data]
            }
          }
        }
      })
      .on('change', function () {
        vm.$emit('input', $(this).val())
      })
  },
  destroyed() {
    $(this.$el).off().select2('destroy')
  }
}
</script>
