<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <router-link
              class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
              tag="button"
              :to="{ name: 'iamAdmin.member.index' }"
            >
              <i class="la la-angle-left"></i>
            </router-link>
            <h3 class="m-subheader__title">Thêm thành viên</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-form">
          <div class="form-group m-form__group">
            <label for="icheck-id">Tài khoản iCheck</label>
            <accounts-select v-model="accounts"></accounts-select>
          </div>
        </div>
        <div class="m--margin-top-20">
          <button type="button" :class="{
            'btn': true,
            'btn-primary': true,
            'btn-block': true
          }" :disabled="accounts.length <= 0" @click="submit">Thực hiện</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash'
import axios from 'axios'
import swal from 'sweetalert2'
import AccountsSelect from './AccountsSelectComponent'

export default {
  data() {
    return {
      accounts: []
    }
  },
  components: {
    AccountsSelect
  },
  methods: {
    submit() {
      axios.post('/iam/members', {
        icheckIds: this.accounts
      }).then(({ data }) => {
        swal({
          title: 'Thành công!',
          text: 'Đã thêm <strong>' + this.accounts.length + '</strong> thành viên',
          type: 'success'
        })

        this.accounts = []
      }, () => {
        swal({
          title: 'Lỗi!',
          text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
          type: 'error'
        })
      })
    }
  }
}
</script>
