<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Vai trò</h3>
            <a href="#" class="btn btn-outline-primary m-btn m-btn--icon">
              <span>
                <i class="la la-plus"></i>
                <span>Tạo vai trò</span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
          <div class="m-alert__icon m-alert__icon--top">
            <i class="flaticon-exclamation m--font-info"></i>
          </div>
          <div class="m-alert__text">
            <p>
              Vai trò là một nhóm quyền mà bạn có thể gán cho các thành viên. Bạn có thể tạo một vai trò và thêm quyền cho nó, hoặc sao chép một vai trò hiện tại và điều chỉnh các quyền của nó.
            </p>
          </div>
        </div>
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="roles"
        >
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import axios from 'axios'

export default {
  data() {
    return {
      roles: []
    }
  },
  computed: {
    gridOptions() {
      return {
        domLayout: 'autoHeight',
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        columnDefs: [
          {
            headerName: 'Tên',
            field: 'name',
            pinned: 'left',
            suppressMovable: true,
            filter: 'agTextColumnFilter',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true
          },
          {
            headerName: 'Mô tả',
            field: 'description'
          },
          {
            headerName: 'Lần cập nhật cuối',
            field: 'updatedAt',
            filter: 'agDateColumnFilter'
          },
          {
            headerName: 'Ngày tạo',
            field: 'createdAt',
            filter: 'agDateColumnFilter'
          }
        ]
      }
    }
  },
  components: {
    'ag-grid-vue': AgGridVue
  },
  methods: {
    async fetchRoles() {
      let res = await axios.get('iam/roles', {
        responseType: 'json'
      })
      this.roles = res.data.data
    }
  },
  created() {
    this.fetchRoles()
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
  }
}
</script>
