<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">Ẩn / Hiện điểm bán của nhiều sản phẩm</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="row">
          <div class="col-md-6">
            <div class="m-form">
              <div class="form-group m-form__group">
                <label for="product-ids">Mã vạch của sản phẩm</label>
                <textarea class="form-control m-input" id="product-ids" placeholder="0000080108238
0000080108221" rows="6" v-model="productIdsString"></textarea>
                <span class="m-form__help">Mỗi mã nằm trên 1 dòng.</span>
              </div>
              <div class="form-group m-form__group">
                <label for="action">Ẩn / Hiện điểm bán</label>
                <select id="action" class="form-control m-input" v-model="action">
                  <option value="0">Ẩn</option>
                  <option value="1">Hiện</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p v-if="productIds.length > 0">Sẽ <strong>{{ action == 0 ? 'ẩn' : 'hiện' }}</strong> điểm bán của của <strong>{{ productIds.length }}</strong> sản phẩm</p>
          </div>
        </div>
        <div class="m--margin-top-20">
          <button type="button" :class="{
            'btn': true,
            'btn-danger': action == 0,
            'btn-success': action != 0,
            'btn-block': true
          }" :disabled="productIds.length <= 0 || submitting" @click="submit">Thực hiện</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'

export default {
  data() {
    return {
      productIdsString: null,
      productIds: [],
      action: 0,
      submitting: false
    }
  },
  watch: {
    productIdsString(val) {
      this.productIds = this.productIdsString ? this.productIdsString.split(/\r?\n/).filter(item => item.trim() !== '') : []
    }
  },
  methods: {
    submit() {
      this.submitting = true

      axios.post('/core/products/batchShowHideStore', {
        ids: this.productIds,
        action: this.action
      })
        .then(({ data }) => {
          swal({
            title: 'Thành công!',
            text: `Đã ${this.action == 0 ? 'ẩn' : 'hiện'} điểm bán của ${this.productIds.length} sản phẩm`,
            type: 'success'
          })

          this.productIdsString = null
          this.action = 0
        }).catch(() => {
          swal({
            title: 'Lỗi!',
            text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    }
  }
}
</script>
