<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">Cập nhật trạng thái của nhiều sản phẩm</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="row">
          <div class="col-md-6">
            <div class="m-form">
              <div class="form-group m-form__group">
                <label for="product-ids">Mã vạch của những sản phẩm muốn cập nhật trạng thái</label>
                <textarea class="form-control m-input" id="product-ids" placeholder="0000080108238
0000080108221" rows="6" v-model="productIdsString"></textarea>
                <span class="m-form__help">Mỗi mã nằm trên 1 dòng.</span>
              </div>
              <div class="form-group m-form__group">
                <label for="status">Trạng thái</label>
                <select id="status" class="form-control m-input" v-model="status">
                  <option value="0">Không cho quét</option>
                  <option value="1">Cho quét</option>
                  <option value="2">Bị ẩn bởi DN</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <p v-if="productIds.length > 0">Sẽ chuyển trạng thái của <strong>{{ productIds.length }}</strong> sản phẩm thành <strong>{{ status == 0 ? 'Không cho quét' : 'Cho quét' }}</strong></p>
          </div>
        </div>
        <div class="m--margin-top-20">
          <button type="button" :class="{
            'btn': true,
            'btn-danger': status == 0,
            'btn-success': status != 0,
            'btn-block': true
          }" :disabled="productIds.length <= 0 || submitting" @click="submit">Thực hiện</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'

export default {
  data() {
    return {
      productIdsString: null,
      productIds: [],
      status: 0,
      submitting: false
    }
  },
  watch: {
    productIdsString(val) {
      this.productIds = this.productIdsString ? this.productIdsString.split(/\r?\n/).filter(item => item.trim() !== '') : []
    }
  },
  methods: {
    submit() {
      this.submitting = true

      axios.post('/core/products/batchUpdateStatus', {
        ids: this.productIds,
        status: this.status
      })
        .then(({ data }) => {
          swal({
            title: 'Thành công!',
            text: `Đã thay đổi trang thái của ${this.productIds.length} sản phẩm thành ${this.status == 0 ? 'Không cho quét' : 'Cho quét'}`,
            type: 'success'
          })

          this.productIdsString = null
          this.status = 0
        }).catch(() => {
          swal({
            title: 'Lỗi!',
            text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    }
  }
}
</script>
