<template>
  <ul class="list-unstyled">
    <item
      v-for="item in value"
      :data="item"
      :key="item.id"
      :checkbox="checkbox"
      @update="updateChild"
    ></item>
    <li>
      <a href="#" @click.prevent="showNewChildInput" v-if="!newChildInputIsShown">
        <i class="la la-plus"></i> Thêm
      </a>
      <div class="input-group input-group-sm" v-if="newChildInputIsShown">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="la la-folder-o"></i>
          </span>
        </div>
        <input
          type="text"
          ref="newChildInput"
          class="form-control m-input"
          v-model="newChildName"
          @keyup.enter="!newChildCreating && createNewChild()"
          @keyup.esc="!newChildCreating && cancelCreateNewChild()"
          :disabled="newChildCreating"
        />
        <div class="input-group-append">
          <button class="btn btn-success m-btn m-btn--icon m-btn--icon-only" type="button" @click="createNewChild" :disabled="newChildCreating">
            <i class="la la-refresh" v-if="newChildCreating"></i>
            <i class="la la-check" v-else></i>
          </button>
          <button class="btn btn-danger m-btn m-btn--icon m-btn--icon-only" type="button" @click="cancelCreateNewChild" :disabled="newChildCreating">
            <i class="la la-remove"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
import axios from 'axios'
import CategoryTreeItemComponent from './CategoryTreeItemComponent'

export default {
  props: ['value', 'checkbox'],
  data() {
    return {
      newChildInputIsShown: false,
      newChildCreating: false,
      newChildName: null
    }
  },
  components: {
    item: CategoryTreeItemComponent
  },
  methods: {
    showNewChildInput() {
      this.newChildName = null
      this.newChildInputIsShown = true
      this.$nextTick(() => this.$refs.newChildInput.focus())
    },
    createNewChild() {
      this.newChildCreating = true
      axios.post('/product/categories', { name: this.newChildName }).then(res => {
        this.newChildCreating = false
        this.newChildInputIsShown = false
        this.newChildName = null

        let arr = this.value.slice()
        arr.push(res.data.data)
        this.$emit('input', arr)
      })
    },
    cancelCreateNewChild() {
      this.newChildInputIsShown = false
      this.newChildName = null
    },

    updateChild(data) {
      let arr = this.value.slice()
      const index = arr.findIndex(item => item.id === data.id)

      this.$set(arr, index, data)
      this.$emit('input', arr)
    }
  }
}
</script>
