<template>
  <li
    draggable="true"
    @drag="emitEvent($event)"
    @dragstart="emitEvent($event)"
    @dragenter="emitEvent($event)"
    @dragleave="emitEvent($event)"
    @dragend="emitEvent($event)"
  >
    <label
      :class="{ 'm-checkbox': checkbox && !editing, 'd-block': true }"
      @dblclick="!nameUpdating && !editing && showEditor()"
      @mouseover="showAddButton = true"
      @mouseleave="showAddButton = false"
    >
      <input type="checkbox" v-model="data.checked" v-if="checkbox && !editing">
      <template v-if="!editing"><i class="la la-folder-o"></i> {{ data.name }}</template>
      <div class="input-group input-group-sm" v-if="editing">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="la la-folder-o"></i>
          </span>
        </div>
        <input
          type="text"
          ref="name"
          class="form-control m-input"
          v-model="newName"
          @keyup.enter="!nameUpdating && doneEditing()"
          @keyup.esc="!nameUpdating && cancelEditing()"
          :disabled="nameUpdating"
        />
        <div class="input-group-append">
          <button class="btn btn-success m-btn m-btn--icon m-btn--icon-only" type="button" @click="doneEditing" :disabled="nameUpdating">
            <i class="la la-refresh" v-if="nameUpdating"></i>
            <i class="la la-check" v-else></i>
          </button>
          <button class="btn btn-danger m-btn m-btn--icon m-btn--icon-only" type="button" @click="cancelEditing" :disabled="nameUpdating">
            <i class="la la-remove"></i>
          </button>
        </div>
      </div>
      <span v-if="checkbox && !editing"></span>
      <a href="#" @click.prevent="showNewChildInput" v-if="showAddButton && !newChildInputIsShown">
        <i class="la la-plus"></i> Thêm
      </a>
    </label>

    <ul class="list-unstyled" style="padding-left: 40px">
      <item
        v-if="data.children.length > 0"
        v-for="item in data.children"
        :data="item"
        :key="item.id"
        :checkbox="checkbox"
        @update="updateChild"
      ></item>
      <li>
        <div class="input-group input-group-sm" v-if="newChildInputIsShown">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="la la-folder-o"></i>
            </span>
          </div>
          <input
            type="text"
            ref="newChildInput"
            class="form-control m-input"
            v-model="newChildName"
            @keyup.enter="!newChildCreating && createNewChild()"
            @keyup.esc="!newChildCreating && cancelCreateNewChild()"
            :disabled="newChildCreating"
          />
          <div class="input-group-append">
            <button class="btn btn-success m-btn m-btn--icon m-btn--icon-only" type="button" @click="createNewChild" :disabled="newChildCreating">
              <i class="la la-refresh" v-if="newChildCreating"></i>
              <i class="la la-check" v-else></i>
            </button>
            <button class="btn btn-danger m-btn m-btn--icon m-btn--icon-only" type="button" @click="cancelCreateNewChild" :disabled="newChildCreating">
              <i class="la la-remove"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </li>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Item',
  props: ['data', 'checkbox'],
  data() {
    return {
      showAddButton: false,
      nameUpdating: false,
      newName: null,
      editing: false,
      newChildInputIsShown: false,
      newChildCreating: false,
      newChildName: null
    }
  },
  methods: {
    showEditor() {
      this.newName = this.data.name
      this.editing = true
      this.$nextTick(() => this.$refs.name.focus())
    },
    doneEditing() {
      this.nameUpdating = true
      axios.post('/product/categories/' + this.data.id, { name: this.newName }).then(res => {
        this.data.name = this.newName
        this.nameUpdating = false
        this.editing = false
      })
    },
    cancelEditing() {
      this.editing = false
    },
    updateChild(data) {
      const index = this.data.children.findIndex(item => item.id === data.id)
      this.$set(this.data.children, index, data)
      this.$emit('update', this.data)
    },

    showNewChildInput() {
      this.newChildName = null
      this.newChildInputIsShown = true
      this.$nextTick(() => this.$refs.newChildInput.focus())
    },
    createNewChild() {
      this.newChildCreating = true
      axios.post('/product/categories', { name: this.newChildName, parentId: this.data.id }).then(res => {
        this.newChildCreating = false
        this.newChildInputIsShown = false
        this.newChildName = null

        if (!this.data.children) {
          this.data.children = []
        }

        this.data.children.push(res.data.data)
        this.$emit('update', this.data)
      })
    },
    cancelCreateNewChild() {
      this.newChildInputIsShown = false
      this.newChildName = null
    },

    emitEvent(e) {
      console.log(e)
    }
  },
  watch: {
    data(data) {
      this.$emit('update', data)
    }
  }
}
</script>
