<template>
  <div v-if="product" class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <router-link
              class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
              tag="button"
              :to="{ name: 'product.product.index' }"
            >
              <i class="la la-angle-left"></i>
            </router-link>
            <h3 class="m-subheader__title m-subheader__title--separator">Chi tiết Sản phẩm</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content" v-if="product">
        <ul class="nav nav-tabs m-tabs-line" role="tablist">
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#product-detail-tab" role="tab">Thông tin</a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#businesses-tab" role="tab">Doanh nghiệp quản lý</a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#stores-tab" role="tab">Cửa hàng (Điểm bán)</a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#reviews-tab" role="tab">Đánh giá</a>
          </li>
          <li class="nav-item m-tabs__item">
            <a class="nav-link m-tabs__link" data-toggle="tab" href="#report-tab" role="tab">Báo cáo của người dùng</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="product-detail-tab" role="tabpanel">
            <div class="form-group m-form__group">
              <label for="gtin">Barcode (ISBN, UPC, GTIN, etc.)</label>
              <input type="text" class="form-control m-input" id="gtin" placeholder="Mã vạch của sản phẩm" v-model="product.gtin">
            </div>
            <div class="form-group m-form__group">
              <label for="product-name">Tên sản phẩm</label>
              <input type="text" class="form-control m-input" id="product-name" placeholder="Nhập tên sản phẩm" v-model="product.name">
            </div>
            <div class="form-group m-form__group">
              <label for="price">Giá</label>
              <input type="text" class="form-control m-input" id="price" placeholder="Nhập giá sản phẩm" v-model="product.price">
            </div>
            <div class="form-group m-form__group">
              <label>Danh mục</label>
              <category-tree v-model="categories" :checkbox="true"></category-tree>
            </div>
            <div class="form-group m-form__group" v-for="attribute in product.attributes">
              <label :for="'attribute-' + attribute.id">{{ attribute.title }}</label>
              <editor :id="'attribute-' + attribute.id" v-model="attribute.content"></editor>
            </div>
            <div v-for="attribute in availableAttributes"><a href="#" @click.prevent="addAttribute(attribute)">Thêm {{ attribute.title }}</a></div>
            <button type="button" class="btn btn-primary" @click="update">Cập nhật</button>
          </div>
          <div class="tab-pane" id="businesses-tab" role="tabpanel">
            <div v-for="business in businesses">
              <a :href="'http://cms.icheck.com.vn/staff@kimochi/management/businesses/' + business.id" target="_blank"><strong>{{ business.name }}</strong></a><br />
              {{ business.address }}
            </div>
          </div>
          <div class="tab-pane" id="stores-tab" role="tabpanel">
            <product-stores :product="product"></product-stores>
          </div>
          <div class="tab-pane" id="reviews-tab" role="tabpanel">
            <product-reviews :product="product"></product-reviews>
          </div>
          <div class="tab-pane" id="report-tab" role="tabpanel">

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Editor from '@tinymce/tinymce-vue'
import CategoryTreeComponent from './CategoryTreeComponent'
import ProductReviews from './ProductReviewsComponent'
import ProductStores from './ProductStoresComponent'

export default {
  data() {
    return {
      editing: false,
      product: null,
      businesses: [],
      attributes: [],
      categories: []
    }
  },
  computed: {
    availableAttributes() {
      return this.attributes.filter(attr => {
        return this.product.attributes.findIndex(item => item.id === attr.id) === -1
      })
    }
  },
  components: {
    'editor': Editor,
    'category-tree': CategoryTreeComponent,
    ProductReviews,
    ProductStores
  },
  methods: {
    async fetchProduct() {
      let res = await axios.get('/product/products/' + this.$route.params.gtin)
      this.product = res.data.data
    },
    async fetchProductBusinesses() {
      try {
        let res = await axios.get('/business/products/' + this.$route.params.gtin + '/businesses')
        this.businesses = res.data.data
      } catch (e) {}
    },
    async fetchCategories() {
      let res = await axios.get('/product/categories')
      this.categories = res.data.data
    },
    async fetchAttributes() {
      let res = await axios.get('/product/attributes')
      this.attributes = res.data.data
    },
    addAttribute(attribute) {
      this.product.attributes.push(attribute)
    },
    update() {
      alert('Saved!')
    }
  },
  created() {
    this.fetchProduct()
    this.fetchProductBusinesses()
    this.fetchCategories()
    this.fetchAttributes()
  },
  mounted() {
  }
}
</script>

