<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Tất cả sản phẩm</h3>
            <button type="button" class="btn btn-outline-primary m-btn m-btn--icon">
              <span>
                <i class="la la-plus"></i>
                <span>Thêm sản phẩm</span>
              </span>
            </button>
            <button type="button" class="btn btn-outline-primary m-btn m-btn--icon" data-toggle="modal" data-target="#import-modal">
              <span>
                <i class="la la-download"></i>
                <span>Nhập từ file</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
        >
        </ag-grid-vue>
      </div>
      <div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-labelledby="import-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="import-modal-title">
                Nhập sản phẩm từ file
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="alert alert-danger" role="alert" v-if="uploadError">
                {{ uploadError }}
              </div>
              <vue-dropzone
                v-show="!fileAdded"
                ref="myVueDropzone"
                id="dropzone"
                class="m-dropzone dropzone"
                :options="dropzoneOptions"
                :include-styling="false"
                @vdropzone-file-added="fileAdded = true; uploadError = null"
                @vdropzone-success="dropzoneSuccess"
                @vdropzone-error="dropzoneError"
                @vdropzone-upload-progress="updateUploadProgress"
              ></vue-dropzone>
              <div v-show="fileAdded" class="progress m-progress--sm">
                <div class="progress-bar m--bg-success progress-bar-striped progress-bar-animated" role="progressbar" :aria-valuenow="uploadProgress" aria-valuemin="0" aria-valuemax="100" :style="{ 'width': uploadProgress + '%' }"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
              <button type="button"
                :class="{
                  'btn': true,
                  'm-btn': true,
                  'm-btn--custom': true
                }"
              >
                Xác nhận
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import axios from 'axios'
import router from '../../routes'
import vue2Dropzone from 'vue2-dropzone'

import VendorRendererComponent from './VendorRendererComponent'

export default {
  data() {
    return {
      fileAdded: false,
      uploadError: null,
      uploadProgress: 0,
      dropzoneOptions: {
        url: '/product/products/upload',
        thumbnailWidth: 150,
        maxFiles: 1,
        maxFilesize: 0.5,
        acceptedFiles: '.xls,.xlsx,.csv',
        headers: {
          'X-CSRF-TOKEN': this.$root.config.csrfToken
        },
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>UPLOAD ME"
      }
    }
  },
  computed: {
    gridOptions() {
      let that = this

      return {
        deltaRowDataMode: true,
        rowModelType: 'enterprise',
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        columnDefs: [
          {
            headerName: 'GTIN',
            field: 'gtin',
            pinned: 'left',
            suppressSorting: true,
            suppressMovable: true,
            filter: 'agTextColumnFilter',
            checkboxSelection: true,
            cellRendererFramework: 'gtin-renderer-component'
          },
          {
            headerName: 'Thông tin',
            children: [
              {
                headerName: 'Tên sản phẩm',
                field: 'name',
                suppressSorting: true,
                suppressMovable: true,
                filter: 'agTextColumnFilter'
              },
              {
                headerName: 'GLN',
                field: 'vendor',
                suppressSorting: true,
                suppressFilter: true,
                // filter: 'agSetColumnFilter',
                keyCreator(params) {
                  return params.value && params.value.gln
                },
                // filterParams: {
                //   selectAllOnMiniFilter: true
                // },
                cellRendererFramework: VendorRendererComponent
              },
              {
                headerName: 'Giá',
                field: 'price',
                suppressSorting: true,
                filter: 'agNumberColumnFilter'
              },
              {
                headerName: 'Danh mục',
                suppressSorting: true,
                suppressFilter: true
              }
            ],
          }
        ]
      }
    }
  },
  components: {
    'ag-grid-vue': AgGridVue,
    vueDropzone: vue2Dropzone,
    'gtin-renderer-component': {
      router,
      template: `<router-link :to="{ name: 'product.product.edit', params: { gtin: params.value } }">{{ params.value }}</router-link>`
    }
  },
  methods: {
    dropzoneSuccess(file, response) {
      alert('Yêu cầu đang được xử lý')
    },
    dropzoneError(file, message, xhr) {
      console.log(file, message, xhr)
      this.uploadError = message
      this.fileAdded = false
      this.$refs.myVueDropzone.removeAllFiles()
    },
    updateUploadProgress(file, progress, bytesSent) {
      this.uploadProgress = progress
    }
  },
  created() {
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
    let that = this
    const datasource = {
      async getRows(params) {
        let res = await axios.post('/product/products', params.request)
        params.successCallback(res.data.data)
      }
    }
    this.gridOptions.api.setEnterpriseDatasource(datasource)
  }
}
</script>
