<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">Danh mục sản phẩm</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <tree v-model="categories"></tree>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import CategoryTreeComponent from './CategoryTreeComponent'

export default {
  data() {
    return {
      categories: []
    }
  },
  components: {
    tree: CategoryTreeComponent
  },
  methods: {
    async fetchCategories() {
      let res = await axios.get('/product/categories')
      this.categories = res.data.data
    }
  },
  created() {
    this.fetchCategories()
  }
}
</script>
