<template>
  <div class="m-widget3">
    <div v-for="review in reviews" :class="{ 'm-widget3__item': true, 'bg-secondary': !review.active }">
      <div class="m-widget3__header">
        <div class="m-widget3__user-img">
          <img v-if="review.owner" class="m-widget3__img" :src="'http://ucontent.icheck.vn/' + review.owner.avatar + '_original.jpg'">
          <img v-else class="m-widget3__img" src="../../../metronic/media/app/img/users/user1.jpg" alt="">
        </div>
        <div class="m-widget3__info">
          <span class="m-widget3__username">
          <template v-if="review.owner">{{ review.owner.social_name }} -</template>
          <i v-for="i in 5" :class="'la la-star' + (i <= review.star ? '' : '-o')"></i>
          </span><br>
          <span class="m-widget3__time" :title="review.createdAt | formatDate">
          {{ review.createdAt | ago }}
          </span>
        </div>
        <span class="m-widget3__status">
          <button v-if="review.active" class="btn btn-danger m-btn m-btn--custom m-btn--icon" @click="inactiveReview(review)"><i class="la la-eye-slash"></i> Ẩn</button>
          <button v-if="!review.active" class="btn btn-info m-btn m-btn--custom m-btn--icon" @click="activeReview(review)"><i class="la la-eye"></i> Hiện</button>
        </span>
      </div>
      <div class="m-widget3__body">
        <p class="m-widget3__text">
          {{ review.content }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'

export default {
  props: {
    product: Object
  },
  data() {
    return {
      reviews: []
    }
  },
  filters: {
    ago(value) {
      return moment(value).fromNow()
    },
    formatDate(value) {
      return moment(value).format('LLLL')
    }
  },
  computed: {
  },
  components: {
  },
  methods: {
    async fetchReviews(productId) {
      try {
        delete axios.defaults.headers.common['X-CSRF-TOKEN']
        let res = await axios.get(`/apiProxy?url=${this.$root.config.coreAPIUrl}/backend/reviews?object_id=${productId}`)
        const reviews = res.data.data
        this.reviews = this.reviews.concat(reviews)
      } catch (e) {

      }
    },
    async inactiveReview(review) {
      if (confirm('Bạn có chắc chắn muốn ẩn đánh giá này?')) {
        try {
          delete axios.defaults.headers.common['X-CSRF-TOKEN']
          let res = await axios.put(`/apiProxy?url=${this.$root.config.coreAPIUrl}/backend/reviews/${review.id}/inactive`)
          this.$set(review, 'active', false)
        } catch (e) {
        }
      }
    },
    async activeReview(review) {
      if (confirm('Bạn có chắc chắn muốn hiện đánh giá này?')) {
        try {
          delete axios.defaults.headers.common['X-CSRF-TOKEN']
          let res = await axios.put(`/apiProxy?url=${this.$root.config.coreAPIUrl}/backend/reviews/${review.id}/active`)
          this.$set(review, 'active', true)
        } catch (e) {
        }
      }
    }
  },
  created() {
    this.fetchReviews(this.product.id)
  },
  mounted() {
  }
}
</script>

