<template>
  <div>
    <div class="row">
      <div class="col-auto mr-auto">
        <button tyoe="button" class="btn btn-sm btn-outline-primary m-btn m-btn--custom m-btn--icon" @click="openAddStoreModal">
          <span><i class="la la-plus"></i> <span>Thêm mới</span></span>
        </button>
        <button tyoe="button" class="btn btn-sm btn-outline-info m-btn m-btn--custom m-btn--icon" @click="batchShowStore" :disabled="!hasSelectedRows || disableActionButtons">
          <span><i class="la la-eye"></i> <span>Hiện</span></span>
        </button>
        <button tyoe="button" class="btn btn-sm btn-outline-info m-btn m-btn--custom m-btn--icon" @click="batchHideStore" :disabled="!hasSelectedRows || disableActionButtons">
          <span><i class="la la-eye-slash"></i> <span>Ẩn</span></span>
        </button>
        <button tyoe="button" class="btn btn-sm btn-outline-danger m-btn m-btn--custom m-btn--icon" @click="batchRemoveStore" :disabled="!hasSelectedRows || disableActionButtons">
          <span><i class="la la-trash"></i> <span>Xóa</span></span>
        </button>
      </div>
      <div class="col-auto">
        <label class="m-checkbox m-checkbox--state-success">
          <input type="checkbox" v-model="isAvailableAddStore" :disabled="changingIsAvailableAddStore"> Hiển thị điểm bán được thêm bởi người dùng
          <span></span>
        </label>
      </div>
    </div>
    <ag-grid-vue
      style="width: 100%; height: 500px;"
      class="ag-theme-bootstrap m--margin-top-20"
      :gridOptions="gridOptions"
      :rowData="stores"
      :selectionChanged="onSelectionChanged"
    >
    </ag-grid-vue>
    <div class="modal fade" ref="addStoreModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <form @submit.prevent="validateBeforeSubmit(addStore)" class="modal-content m-form">
          <div class="modal-header">
            <h5 class="modal-title">
              Thêm cửa hàng
            </h5>
          </div>
          <div class="modal-body">
            <div :class="{ 'form-group': true, 'm-form__group': true, 'has-danger': errors.has('name') }">
              <label for="name">Tên cửa hàng</label>
              <input type="text" class="form-control m-input" id="name" name="name" v-validate="'required|max:100'" v-model="newStore.name">
              <div v-if="errors.has('name')" class="form-control-feedback">{{ errors.first('name') }}</div>
            </div>
            <div :class="{ 'has-danger': errors.has('address') }">
              <label for="address">Địa chỉ</label>
              <input type="text" ref="addressInput" class="form-control m-input" id="address" name="address" v-validate="'required'" v-model="newStore.address">
              <div v-if="errors.has('address')" class="form-control-feedback">{{ errors.first('address') }}</div>
            </div>
            <div ref="map" style="width: 100%; height: 300px;"></div>
            <div class="form-group m-form__group row">
              <div class="col-md-6">
                <div :class="{ 'has-danger': errors.has('email') }">
                  <label for="email">Email</label>
                  <input type="text" class="form-control m-input" id="email" name="email" v-validate="'email'" v-model="newStore.email">
                  <div v-if="errors.has('email')" class="form-control-feedback">{{ errors.first('email') }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div :class="{ 'has-danger': errors.has('phone') }">
                  <label for="phone">Số điện thoại</label>
                  <input type="text" class="form-control m-input" id="phone" name="phone" v-model="newStore.phone">
                  <div v-if="errors.has('phone')" class="form-control-feedback">{{ errors.first('phone') }}</div>
                </div>
              </div>
            </div>
            <div class="form-group m-form__group row">
              <div class="col-md-6">
                <div :class="{ 'has-danger': errors.has('website') }">
                  <label for="website">Website</label>
                  <input type="text" class="form-control m-input" id="website" name="website" v-validate="'url'" v-model="newStore.website">
                  <div v-if="errors.has('website')" class="form-control-feedback">{{ errors.first('website') }}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div :class="{ 'has-danger': errors.has('price') }">
                  <label for="price">Giá bán</label>
                  <input type="text" class="form-control m-input" id="price" name="price" v-validate="'integer'" v-model="newStore.price">
                  <div v-if="errors.has('price')" class="form-control-feedback">{{ errors.first('price') }}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
            <button type="submit" :class="{
              'btn': true,
              'btn-primary': true,
              'm-btn': true,
              'm-btn--custom': true
            }" :disabled="submitting">Tạo mới</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { AgGridVue } from 'ag-grid-vue'
import moment from 'moment'
import $ from 'jquery'
import swal from 'sweetalert2'
import debounce from 'lodash/debounce'
import map from 'lodash/map'

function showErrorAlert(message) {
  swal({
    title: 'Lỗi!',
    text: message,
    type: 'error'
  })
}

export default {
  props: {
    product: Object
  },
  data() {
    return {
      stores: [],
      accounts: {},
      newStoreBusinessId: null,
      newStore: {},
      submitting: false,
      isAvailableAddStore: false,
      changingIsAvailableAddStore: false,
      // Multiple
      disableActionButtons: false,
      hasSelectedRows: false,
      // Map
      map: null,
      marker: null,
      geocoder: null
    }
  },
  filters: {
    ago(value) {
      return moment(value).fromNow()
    },
    formatDate(value) {
      return moment(value).format('LLLL')
    }
  },
  computed: {
    gridOptions() {
      return {
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        defaultColDef: {
          menuTabs: ['filterMenuTab']
        },
        rowHeight: 32,
        columnDefs: [
          {
            headerName: 'Tên',
            suppressSorting: true,
            field: 'name',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Địa chỉ',
            suppressSorting: true,
            field: 'address',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Số điện thoại',
            suppressSorting: true,
            field: 'phone',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Giá bán',
            field: 'price',
            filter: 'agNumberColumnFilter'
          },
          {
            headerName: 'Email',
            suppressSorting: true,
            field: 'email',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Website',
            suppressSorting: true,
            field: 'website',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Trạng thái',
            suppressSorting: true,
            field: 'status',
            cellRendererFramework: 'statusRendererComponent',
            filter: 'agSetColumnFilter',
            filterParams: {
              cellRenderer(params) {
                return params.value == 'true' ? 'Đang hiển thị' : 'Đã bị ẩn'
              },
              values: [true, false],
              newRowsAction: 'keep'
            }
          },
          {
            pinned: 'right',
            suppressMenu: true,
            suppressSorting: true,
            suppressFilter: true,
            suppressSizeToFit: true,
            suppressMovable: true,
            suppressResize: true,
            suppressNavigable: true,
            suppressToolPanel: true,
            cellRendererFramework: 'rowActionsRendererComponent'
          }
        ]
      }
    }
  },
  watch: {
    async isAvailableAddStore(val) {
      this.changingIsAvailableAddStore = true

      try {
        let res = await axios.post(
          this.$helpers.apiProxyUrl(
            `${this.$root.config.gatewayAPIUrl}/backend/configs/products`
          ),
          { gtin_code: this.product.gtin, status: val }
        )
      } catch (e) {
        console.error(e)
      }

      this.changingIsAvailableAddStore = false
    },
    'newStore.address': debounce(function (val) {
      this.geocoder.geocode({
        address: val
      }, (results, status) => {
        if (status == google.maps.GeocoderStatus.OK) {
          if (results[0]) {
            let latLng = results[0].geometry.location
            this.map.setCenter(latLng)
            this.marker.setPosition(latLng)
            this.$set(this.newStore, 'lat', latLng.lat())
            this.$set(this.newStore, 'lng', latLng.lng())
          }
        }
      })
    }, 1000)
  },
  components: {
    AgGridVue,
    statusRendererComponent: {
      template: `
        <div>
          <div :class="{ 'm-badge': true, 'm-badge--wide': true, 'm-badge--metal': !this.params.value, 'm-badge--info': this.params.value }">
            <template v-if="this.params.value">
              Đang hiển thị
            </template>
            <template v-else>
              Đã bị ẩn
            </template>
          </div>
        </div>`,
      methods: {
        refresh(params) {
          this.params = params
        }
      }
    },
    rowActionsRendererComponent: {
      data() {
        return {
          showing: false,
          hiding: false,
          removing: false
        }
      },
      template: `
        <div>
          <a href="#" v-if="this.params.data.status" class="btn btn-sm m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill" @click.prevent="hide">
            <i class="la la-eye-slash"></i>
          </a>
          <a href="#" v-else class="btn btn-sm m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" @click.prevent="show">
            <i class="la la-eye"></i>
          </a>
          <a href="#" class="btn btn-sm m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" @click.prevent="remove">
            <i class="la la-trash"></i>
          </a>
        </div>`,
      methods: {
        refresh(params) {
          this.params = params
        },
        show() {
          if (!this.showing) {
            this.showing = true
            this.params.context.componentParent.showStore(this.params.data)
            this.showing = false
          }
        },
        hide() {
          if (!this.hiding) {
            this.hiding = true
            this.params.context.componentParent.hideStore(this.params.data)
            this.hiding = false
          }
        },
        remove() {
          if (!this.removing) {
            if (confirm('Bạn có chắc chắn muốn thực hiện thao tác này?')) {
              this.removing = true
              this.params.context.componentParent.removeStore(this.params.data)
              this.removing = false
            }
          }
        }
      }
    }
  },
  methods: {
    async validateBeforeSubmit(callback) {
      const result = await this.$validator.validateAll()

      if (result) {
        callback()
      }
    },
    addStore() {
      this.submitting = true

      axios.post(`/apiProxy?url=${this.$root.config.gatewayAPIUrl}/backend/locations`, {
        business_id: this.newStoreBusinessId,
        gtin_code: this.product.gtin,
        price: parseInt(this.newStore.price, 10),
        name: this.newStore.name,
        address: this.newStore.address,
        phone: this.newStore.phone,
        email: this.newStore.email,
        website: this.newStore.website,
        latitude: this.newStore.lat || 0.0,
        longitude: this.newStore.lng || 0.0,
        status: 1
      })
        .then(({ data }) => {
          if (data.hasOwnProperty('error')) {
            if (data.error.message.indexOf('id') !== -1) {
              showErrorAlert('Trùng số điện thoại.')
            } else {
              showErrorAlert(data.error.message)
            }
          } else {
            swal({
              title: 'Thành công!',
              text: `Đã tạo cửa hàng ${this.newStore.name}`,
              type: 'success'
            })

            $(this.$refs.addStoreModal).modal('hide')
            this.newStore = {}
            this.fetchStores(this.product.gtin)
          }
        })
        .catch(() => {
          swal({
            title: 'Lỗi!',
            text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    },
    openAddStoreModal() {
      $(this.$refs.addStoreModal).modal('show')
    },
    onSelectionChanged(event) {
      this.hasSelectedRows = this.gridOptions.api.getSelectedRows().length > 0
    },
    async getBusinessId() {
      try {
        let res = await axios.post(`/apiProxy?url=${this.$root.config.gatewayAPIUrl}/backend/businesses`, {
          icheck_id: this.$root.loggedInAccount.icheck_id,
          name: this.$root.loggedInAccount.name,
          address: 'Fake',
          phone: 'Fake',
          email: 'admin@icheck.vn',
          website: 'https://icheck.vn'
        })
        this.newStoreBusinessId = res.data.id
      } catch (e) {
      }
    },
    async fetchAvailableAddStoreStatus(productId) {
      try {
        let res = await axios.get(`/apiProxy?url=${this.$root.config.gatewayAPIUrl}/backend/configs/products/${productId}`)
        this.isAvailableAddStore = res.data.status
      } catch (e) {
      }
    },
    async fetchStores(productId) {
      try {
        let res = await axios.get(
          this.$helpers.apiProxyUrl(
            `${this.$root.config.gatewayAPIUrl}/backend/locations?gtin_code=${productId}&limit=99999`
          )
        )
        const stores = res.data.data
        this.stores = stores
      } catch (e) {

      }
    },
    async batchShowStore() {
      this.disableActionButtons = true
      this.gridOptions.api.showLoadingOverlay()
      await Promise.all(this.gridOptions.api.getSelectedRows().map(this.showStore))
      this.gridOptions.api.hideOverlay()
      this.disableActionButtons = false
    },
    async showStore(store) {
      try {
        await axios.post(
          this.$helpers.apiProxyUrl(
            `${this.$root.config.gatewayAPIUrl}/backend/locations/${store.id}/enable`
          )
        )
        this.gridOptions.api.getRowNode(store.id).setDataValue('status', true)
      } catch (e) {
        console.error(e)
      }
    },
    async batchHideStore() {
      this.disableActionButtons = true
      this.gridOptions.api.showLoadingOverlay()
      await Promise.all(this.gridOptions.api.getSelectedRows().map(this.hideStore))
      this.gridOptions.api.hideOverlay()
      this.disableActionButtons = false
    },
    async hideStore(store) {
      try {
        await axios.delete(
          this.$helpers.apiProxyUrl(
            `${this.$root.config.gatewayAPIUrl}/backend/locations/${store.id}/enable`
          )
        )
        this.gridOptions.api.getRowNode(store.id).setDataValue('status', false)
      } catch (e) {
        console.error(e)
      }
    },
    async batchRemoveStore() {
      if (confirm('Bạn có chắc chắn muốn thực hiện thao tác này?')) {
        this.disableActionButtons = true
        this.gridOptions.api.showLoadingOverlay()
        await Promise.all(this.gridOptions.api.getSelectedRows().map(this.removeStore))
        this.gridOptions.api.hideOverlay()
        this.disableActionButtons = false
      }
    },
    async removeStore(store) {
      try {
        await axios.delete(
          this.$helpers.apiProxyUrl(
            `${this.$root.config.gatewayAPIUrl}/backend/locations/${store.id}`
          )
        )
        this.gridOptions.api.updateRowData({ remove: [store] })
      } catch (e) {
        console.error(e)
      }
    }
  },
  created() {
    this.getBusinessId()
    this.fetchStores(this.product.gtin)
    this.fetchAvailableAddStoreStatus(this.product.gtin)
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
    this.map = new google.maps.Map(this.$refs.map, {
      center: { lat: 21.0106245, lng: 105.8064487 },
      zoom: 13,
      mapTypeId: 'roadmap'
    });
    this.marker = new google.maps.Marker({
        map: this.map,
        // draggable: true
    })
    this.geocoder = new google.maps.Geocoder()
    // this.geocoder = geocoder
    // this.map = map
    // this.marker = marker
    // var searchBox = new google.maps.places.SearchBox(this.$refs.addressInput);

    // searchBox.addListener('places_changed', () => {
    //   var places = searchBox.getPlaces()
    //   console.log(places)

    // })





    // google.maps.event.addListener(map, 'click', e => {
    //   marker.setPosition(e.latLng)
    //   geocoder.geocode({
    //     'latLng': e.latLng
    //   }, (results, status) => {
    //     if (status == google.maps.GeocoderStatus.OK) {
    //       if (results[0]) {
    //         this.$set(this.newStore, 'address', results[0].formatted_address)
    //         this.$set(this.newStore, 'lat', e.latLng.lat)
    //         this.$set(this.newStore, 'lng', e.latLng.lng)
    //       }
    //     }
    //   })
    // })

    // google.maps.event.addListener(marker, 'dragend', () => {
    //   geocoder.geocode({
    //     'latLng': marker.getPosition()
    //   }, (results, status) => {
    //     if (status == google.maps.GeocoderStatus.OK) {
    //       if (results[0]) {
    //         this.$set(this.newStore, 'address', results[0].formatted_address)
    //       }
    //     }
    //   })
    // })
  }
}
</script>

