<template>
  <a @click.prevent="setFilter" v-if="params.value">{{ params.value.gln }} ({{ params.value.name }})</a>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  methods: {
    setFilter() {
      const filterComponent = this.params.api.getFilterInstance('gln')
      filterComponent.selectNothing()
      filterComponent.selectValue(this.params.value.gln_code)
      this.params.api.onFilterChanged()
    }
  }
})
</script>
