<template>
  <a v-if="account" @click.prevent="setFilter"><strong class="m--font-primary">{{ account.name }} ({{ account.icheckId }})</strong></a>
</template>

<script>
import Vue from 'vue'
import store from '../../store'

export default Vue.extend({
  store,
  computed: {
    account() {
      return this.$store.getters['account/accountByInternalId'](this.params.value)
    }
  },
  methods: {
    setFilter() {
      const filterComponent = this.params.api.getFilterInstance('contributorId')
      filterComponent.selectNothing()
      filterComponent.selectValue(this.account.id)
      this.params.api.onFilterChanged()
    }
  }
})
</script>
