<template>
  <div><div v-if="categories" v-html="categories"></div><div v-if="currentCategories" v-html="currentCategories"></div></div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  computed: {
    categories() {
      if (this.params.data !== undefined) {
        let list = []
        const colors = {
          1: 'm--font-brand',
          2: 'm--font-primary',
          3: 'm--font-info',
          4: 'm--font-accent'
        }

        for (let i = 1; i <= 4; i++) {
          if (!this.params.data['category' + i]) {
            break
          }

          list.push('<strong class="' + colors[i] + '">' + this.params.data['category' + i].name + '</strong>')
        }

        return list.join(' > ')
      }

      return ''
    },
    currentCategories() {
      if (this.params.data !== undefined) {
        let list = []

        for (let i = 1; i <= 4; i++) {
          if (!this.params.data['currentCategory' + i]) {
            break
          }

          list.push('<strong class="m--font-danger">' + this.params.data['currentCategory' + i].name + '</strong>')
        }

        return list.join(' > ')
      }

      return ''
    }
  }
})
</script>
