<template>
  <div><div class="m--font-success">{{ params.value }}</div><div class="m--font-danger">{{ params.data && params.data.currentDescription }}</div></div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({})
</script>
