<template>
  <div>
    <a @click.prevent="setFilter" v-if="params.value" class="m--font-success">{{ params.value.gln_code }} ({{ params.value.name }})</a>
    <div v-if="params.data && params.data.currentGLN" class="m--font-danger">{{ params.data.currentGLN.gln_code }} ({{ params.data.currentGLN.name }})</div>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  methods: {
    setFilter() {
      const filterComponent = this.params.api.getFilterInstance('gln')
      filterComponent.selectNothing()
      filterComponent.selectValue(this.params.value.gln_code)
      this.params.api.onFilterChanged()
    }
  }
})
</script>
