<template>
  <div class="m-checkbox-list">
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasName"> Có tên
      <span></span>
    </label>
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasNotName"> Không có tên
      <span></span>
    </label>
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasCurrentName"> Có tên trên hệ thống
      <span></span>
    </label>
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasNotCurrentName"> Không có tên trên hệ thống
      <span></span>
    </label>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      text: '',
      hasName: true,
      hasNotName: true,
      hasCurrentName: true,
      hasNotCurrentName: true
    }
  },
  methods: {
    isFilterActive() {
      return true;
    },
    doesFilterPass(params) {
      if (!this.hasName && params.node.data.name) {
        return false
      }

      if (!this.hasNotName && !params.node.data.name) {
        return false
      }

      if (!this.hasCurrentName && params.node.data.currentName) {
        return false
      }

      if (!this.hasNotCurrentName && !params.node.data.currentName) {
        return false
      }

      return true
    },
    getModel() {
      return {
        hasName: this.hasName,
        hasNotName: this.hasNotName,
        hasCurrentName: this.hasCurrentName,
        hasNotCurrentName: this.hasNotCurrentName
      }
    },
    setModel(model) {
      if (model) {
        this.hasName = model.hasName
        this.hasNotName = model.hasNotName
        this.hasCurrentName = model.hasCurrentName
        this.hasNotCurrentName = model.hasNotCurrentName
      }
    }
  },
  watch: {
    hasName(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    },
    hasNotName(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    },
    hasCurrentName(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    },
    hasNotCurrentName(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    }
  }
})
</script>
