<template>
  <div><strong class="m--font-success">{{ params.value }}</strong><br /><span class="m--font-danger">{{ params.data && params.data.currentName }}</span></div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({})
</script>
