<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">Lịch sử duyệt thông tin được đóng góp</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <ag-grid-vue
          style="width: 100%; height: 800px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="products"
          :selectionChanged="onSelectionChanged"
        >
        </ag-grid-vue>
        <div class="modal fade" id="approve-one-confirmation" tabindex="-1" role="dialog" aria-labelledby="approve-one-confirmation-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="approve-one-confirmation-title">
                  Chấp nhận thông tin đóng góp này?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="selectedProduct">
                <p>Bạn đang chấp nhận đóng góp thông tin từ người dùng cho sản phầm có mã GTIN <mark>{{ selectedProduct.gtin }}</mark>.</p>
                <p>Làm gì với các sản phẩm được đóng góp đang chờ duyệt có cùng mã GTIN với sản phẩm này?</p>
                <div class="m-radio-list">
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" :value="null" v-model="actionAfterApproved"> Không làm gì
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="2" v-model="actionAfterApproved"> Từ chối tất cả
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="1" v-model="actionAfterApproved"> Chấp nhận tất cả
                    <span></span>
                    <div v-show="actionAfterApproved == 1" class="m-alert m-alert--outline alert alert-warning" role="alert">
                      <strong>Cảnh báo!</strong> Lưa chọn này có thể dẫn đến việc sai sót dữ liệu.
                    </div>
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" @click="confirmApproveContribution([selectedProduct])"
                  :class="{
                    'btn': true,
                    'm-btn': true,
                    'm-btn--custom': true,
                    'btn-primary': actionAfterApproved != 1,
                    'btn-warning': actionAfterApproved == 1
                  }"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="approve-multiple-confirmation" tabindex="-1" role="dialog" aria-labelledby="approve-multiple-confirmation-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="approve-multiple-confirmation-title">
                  Chấp nhận các thông tin đóng góp này?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="selectedProducts.length > 0">
                <p>Bạn đang chấp nhận đóng góp thông tin từ người dùng cho sản phầm có mã GTIN <mark>{{ selectedProducts[0].gtin }}</mark> và {{ selectedProducts.length - 1 }} sản phẩm khác.</p>
                <p>Làm gì với các sản phẩm được đóng góp đang chờ duyệt có cùng mã GTIN với các sản phẩm này?</p>
                <div class="m-radio-list">
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" :value="null" v-model="actionAfterApproved"> Không làm gì
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="2" v-model="actionAfterApproved"> Từ chối tất cả
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="1" v-model="actionAfterApproved"> Chấp nhận tất cả
                    <span></span>
                    <div v-show="actionAfterApproved == 1" class="m-alert m-alert--outline alert alert-warning" role="alert">
                      <strong>Cảnh báo!</strong> Lưa chọn này có thể dẫn đến việc sai sót dữ liệu.
                    </div>
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" @click="confirmApproveContribution(selectedProducts)"
                  :class="{
                    'btn': true,
                    'm-btn': true,
                    'm-btn--custom': true,
                    'btn-primary': actionAfterApproved != 1,
                    'btn-warning': actionAfterApproved == 1
                  }"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="reject-one-confirmation" tabindex="-1" role="dialog" aria-labelledby="reject-one-confirmation-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="reject-one-confirmation-title">
                  Từ chối thông tin đóng góp này?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="selectedProduct">
                <p>Bạn đang từ chối đóng góp thông tin từ người dùng cho sản phầm có mã GTIN <mark>{{ selectedProduct.gtin }}</mark>.</p>
                <p>Làm gì với các sản phẩm được đóng góp đang chờ duyệt có cùng mã GTIN với sản phẩm này?</p>
                <div class="m-radio-list">
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" :value="null" v-model="actionAfterRejected"> Không làm gì
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="2" v-model="actionAfterRejected"> Từ chối tất cả
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="1" v-model="actionAfterRejected"> Chấp nhận tất cả
                    <span></span>
                    <div v-show="actionAfterRejected == 1" class="m-alert m-alert--outline alert alert-warning" role="alert">
                      <strong>Cảnh báo!</strong> Lưa chọn này có thể dẫn đến việc sai sót dữ liệu.
                    </div>
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" @click="confirmRejectContribution([selectedProduct])"
                  :class="{
                    'btn': true,
                    'm-btn': true,
                    'm-btn--custom': true,
                    'btn-danger': actionAfterRejected != 1,
                    'btn-warning': actionAfterRejected == 1
                  }"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="reject-multiple-confirmation" tabindex="-1" role="dialog" aria-labelledby="reject-multiple-confirmation-title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="reject-multiple-confirmation-title">
                  Từ chối các thông tin đóng góp này?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" v-if="selectedProducts.length > 0">
                <p>Bạn đang từ chối đóng góp thông tin từ người dùng cho sản phầm có mã GTIN <mark>{{ selectedProducts[0].gtin }}</mark> và {{ selectedProducts.length - 1 }} sản phẩm khác.</p>
                <p>Làm gì với các sản phẩm được đóng góp đang chờ duyệt có cùng mã GTIN với các sản phẩm này?</p>
                <div class="m-radio-list">
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" :value="null" v-model="actionAfterRejected"> Không làm gì
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="2" v-model="actionAfterRejected"> Từ chối tất cả
                    <span></span>
                  </label>
                  <label class="m-radio m-radio--state-primary">
                    <input type="radio" value="1" v-model="actionAfterRejected"> Chấp nhận tất cả
                    <span></span>
                    <div v-show="actionAfterRejected == 1" class="m-alert m-alert--outline alert alert-warning" role="alert">
                      <strong>Cảnh báo!</strong> Lưa chọn này có thể dẫn đến việc sai sót dữ liệu.
                    </div>
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
                <button type="button" @click="confirmRejectContribution(selectedProducts)"
                  :class="{
                    'btn': true,
                    'm-btn': true,
                    'm-btn--custom': true,
                    'btn-danger': actionAfterRejected != 1,
                    'btn-warning': actionAfterRejected == 1
                  }"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { AgGridVue } from 'ag-grid-vue'
import axios from 'axios'

import NameRendererComponent from './NameRendererComponent'
import NameFilterComponent from './NameFilterComponent'
import GLNRendererComponent from './GLNRendererComponent'
import PriceRendererComponent from './PriceRendererComponent'
import ThumbnailRendererComponent from './ThumbnailRendererComponent'
import ThumbnailFilterComponent from './ThumbnailFilterComponent'
import CategoryRendererComponent from './CategoryRendererComponent'
import DescriptionRendererComponent from './DescriptionRendererComponent'
import AccountRendererComponent from './AccountRendererComponent'
import AccountFilterCellRenderComponent from './AccountFilterCellRenderComponent'
import ReviewerRendererComponent from './ReviewerRendererComponent'
import ReviewerFilterCellRenderComponent from './ReviewerFilterCellRenderComponent'

export default {
  data() {
    return {
      products: [],
      isLoading: false,
      selectedProduct: {},
      selectedProducts: [],
      actionAfterApproved: null,
      actionAfterRejected: null
    }
  },
  computed: {
    gridOptions() {
      return {
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        defaultColDef: {
          menuTabs: ['filterMenuTab']
        },
        columnDefs: [
          {
            headerName: 'GTIN',
            field: 'gtin',
            enableRowGroup: true,
            pinned: 'left',
            suppressMovable: true,
            suppressSorting: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Thông tin',
            children: [
              {
                headerName: 'Tên sản phẩm',
                field: 'name',
                pinned: 'left',
                filterFramework: 'nameFilterComponent',
                suppressSorting: true,
                suppressMovable: true
              },
              {
                headerName: 'GLN',
                field: 'gln',
                suppressSorting: true,
                filter: 'agSetColumnFilter',
                keyCreator(params) {
                  return params.value && params.value.gln_code
                },
                cellRenderer(params) {
                  if (params.value) {
                    return `${params.value.gln_code} (${params.value.name})`;
                  }
                },
                filterParams: {
                  selectAllOnMiniFilter: true
                }
              },
              {
                headerName: 'Giá',
                field: 'price',
                suppressSorting: true,
                filter: 'agNumberColumnFilter'
              },
              // {
              //   headerName: 'Hình ảnh',
              //   field: 'thumbnail',
              //   suppressSorting: true
              // },
              // {
              //   headerName: 'Mô tả',
              //   field: 'description',
              //   suppressSorting: true,
              //   suppressFilter: true
              // },
              // {
              //   headerName: 'Danh mục',
              //   cellRendererFramework: CategoryRendererComponent,
              //   suppressSorting: true,
              //   suppressFilter: true,
              //   suppressMenu: true,
              //   cellClass: 'cell-wrap-text',
              //   autoHeight: true
              // }
            ],
          },
          {
            headerName: 'Người gửi',
            suppressSorting: true,
            field: 'contributorId',
            filter: 'agSetColumnFilter',
            filterParams: {
              cellRendererFramework: AccountFilterCellRenderComponent,
              selectAllOnMiniFilter: true
            },
            cellRendererFramework: AccountRendererComponent
          },
          {
            headerName: 'Ngày gửi',
            field: 'createdAt',
            filter: 'agSetColumnFilter'
          },
          {
            headerName: 'Trạng thái',
            field: 'status',
            filter: 'agDateColumnFilter',
            filterParams: {
              selectAllOnMiniFilter: true
            }
          },
          {
            headerName: 'Đã duyệt lúc',
            field: 'reviewedAt',
            filter: 'agDateColumnFilter'
          },
          {
            headerName: 'Người duyệt',
            suppressSorting: true,
            field: 'reviewedBy',
            filter: 'agSetColumnFilter',
            filterParams: {
              cellRendererFramework: ReviewerFilterCellRenderComponent,
              selectAllOnMiniFilter: true
            },
            cellRendererFramework: ReviewerRendererComponent
          },
          {
            headerName: 'Được thưởng',
            field: 'reward',
            filter: 'agNumberColumnFilter'
          }
        ],
        onGridReady(event) {
          setTimeout(() => {
            event.api.resetRowHeights();
          }, 500);
        },
        onColumnResized(event) {
          if (event.finished) {
            event.api.resetRowHeights();
          }
        },
        overlayLoadingTemplate: '<span class="ag-overlay-loading-center"><span class="m-loader m-loader--brand"></span></span>'
      }
    }
  },
  components: {
    'ag-grid-vue': AgGridVue
  },
  methods: {
    async fetchProducts() {
      this.isLoading = true
      let res = await axios.get('contributedProducts/reviewHistorical', {
        params: { limit: 100 },
        responseType: 'json'
      })
      this.products = res.data.data
      let accountIds = _.uniq(_.map(res.data.data, 'contributorId'))
      let icheckIds = _.uniq(_.map(res.data.data, 'reviewedBy'))
      this.$store.dispatch('account/fetchAccounts', { ids: accountIds, icheckIds, limit: 1000 })
      this.isLoading = false
    },
    approveOne(product) {
      this.selectedProduct = product
      $(this.$el).find('#approve-one-confirmation').modal('show')
    },
    approveMultiple(product) {
      if (this.selectedProducts.length === 1) {
        this.selectedProduct = this.selectedProducts[0]
        $(this.$el).find('#approve-one-confirmation').modal('show')
      } else {
        $(this.$el).find('#approve-multiple-confirmation').modal('show')
      }
    },
    rejectOne(product) {
      this.selectedProduct = product
      $(this.$el).find('#reject-one-confirmation').modal('show')
    },
    rejectMultiple(product) {
      if (this.selectedProducts.length === 1) {
        this.selectedProduct = this.selectedProducts[0]
        $(this.$el).find('#reject-one-confirmation').modal('show')
      } else {
        $(this.$el).find('#reject-multiple-confirmation').modal('show')
      }
    },
    blockModals() {
      mApp.block('#approve-one-confirmation .modal-content, #approve-multiple-confirmation .modal-content, #reject-one-confirmation .modal-content, #reject-multiple-confirmation .modal-content', {
          overlayColor: '#000000',
          type: 'loader',
          state: 'primary',
          size: 'lg'
      })
    },
    unblockModals() {
      mApp.unblock('#approve-one-confirmation .modal-content, #approve-multiple-confirmation .modal-content, #reject-one-confirmation .modal-content, #reject-multiple-confirmation .modal-content')
    },
    async confirmApproveContribution(products) {
      this.blockModals()
      const ids = _.map(products, 'id')
      const res = await axios.post('contributedProducts/approve', {
        ids, actionAfterApproved: this.actionAfterApproved
      }, { responseType: 'json' })
      const removeIds = res.data.removeIds
      const filteredProducts = this.products.filter(product => removeIds.indexOf(product.id) === -1)
      this.products = filteredProducts
      this.unblockModals()
      $(this.$el).find('#approve-one-confirmation, #approve-multiple-confirmation').modal('hide')
    },
    async confirmRejectContribution(products) {
      this.blockModals()
      const ids = _.map(products, 'id')
      const res = await axios.post('contributedProducts/reject', {
        ids, actionAfterApproved: this.actionAfterApproved
      }, { responseType: 'json' })
      const removeIds = res.data.removeIds
      const filteredProducts = this.products.filter(product => removeIds.indexOf(product.id) === -1)
      this.products = filteredProducts
      this.unblockModals()
      $(this.$el).find('#reject-one-confirmation, #reject-multiple-confirmation').modal('hide')
    },
    onSelectionChanged(event) {
      this.selectedProducts = _.map(event.api.getSelectedNodes(), node => {
        return { id: node.data.id, gtin: node.data.gtin }
      })
    }
  },
  watch: {
    isLoading(status) {
      if (status) {
        this.gridOptions.api.showLoadingOverlay()
      } else {
        this.gridOptions.api.hideOverlay()
      }
    }
  },
  created() {
    this.fetchProducts()
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()

    $(this.$el).find('#approve-one-confirmation, #reject-one-confirmation').on('hidden.bs.modal', () => {
      this.selectedProduct = {}
    })
  }
}
</script>
