<template>
  <span v-if="account"><strong class="m--font-primary">{{ account.name }} ({{ account.icheckId }})</strong></span>
</template>

<script>
import Vue from 'vue'
import store from '../../store'

export default Vue.extend({
  store,
  computed: {
    account() {
      return this.$store.getters['account/account'](this.params.value)
    }
  }
})
</script>
