<template>
  <div class="m-checkbox-list">
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasImage"> Có ảnh
      <span></span>
    </label>
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasNotImage"> Không có ảnh
      <span></span>
    </label>
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasCurrentImage"> Có ảnh trên hệ thống
      <span></span>
    </label>
    <label class="m-checkbox m-checkbox--state-primary">
      <input type="checkbox" :value="true" v-model="hasNotCurrentImage"> Không có ảnh trên hệ thống
      <span></span>
    </label>
  </div>
</template>

<script>
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      text: '',
      hasImage: true,
      hasNotImage: true,
      hasCurrentImage: true,
      hasNotCurrentImage: true
    }
  },
  methods: {
    isFilterActive() {
      return true;
    },
    doesFilterPass(params) {
      if (!this.hasImage && params.node.data.image) {
        return false
      }

      if (!this.hasNotImage && !params.node.data.image) {
        return false
      }

      if (!this.hasCurrentImage && params.node.data.currentImage) {
        return false
      }

      if (!this.hasNotCurrentImage && !params.node.data.currentImage) {
        return false
      }

      return true
    },
    getModel() {
      return {
        hasImage: this.hasImage,
        hasNotImage: this.hasNotImage,
        hasCurrentImage: this.hasCurrentImage,
        hasNotCurrentImage: this.hasNotCurrentImage
      }
    },
    setModel(model) {
      if (model) {
        this.hasImage = model.hasImage
        this.hasNotImage = model.hasNotImage
        this.hasCurrentImage = model.hasCurrentImage
        this.hasNotCurrentImage = model.hasNotCurrentImage
      }
    }
  },
  watch: {
    hasImage(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    },
    hasNotImage(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    },
    hasCurrentImage(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    },
    hasNotCurrentImage(val, oldVal) {
      if (val !== oldVal) {
        this.params.filterChangedCallback()
      }
    }
  }
})
</script>
