<template>
  <div><img v-if="params.value" class="thumbnail" :src="params.value" /><br /><img v-if="params.data && params.data.currentThumbnail" class="current-thumbnail" :src="params.data.currentThumbnail" /></div>
</template>

<style scoped>
.thumbnail {
  height: 100px;
  width: auto;
  border: 2px solid #34bfa3;
}
.current-thumbnail {
  height: 100px;
  width: auto;
  border: 2px solid #f4516c;
}
</style>

<script>
import Vue from 'vue'

export default Vue.extend({})
</script>
