<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">Gán nhiều sản phẩm cho doanh nghiệp</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-form">
          <div class="form-group m-form__group">
            <label for="business-id">ID doanh nghiệp</label>
            <input type="text" class="form-control m-input" id="business-id" placeholder="ID của doanh nghiệp cần gán sản phẩm" v-model="businessId">
          </div>
          <div class="form-group m-form__group">
            <label for="product-ids">ID của những sản phẩm muốn gán</label>
            <textarea class="form-control m-input" id="product-ids" placeholder="0000080108238
  0000080108239" rows="6" v-model="productIdsString"></textarea>
            <span class="m-form__help">Mỗi ID nằm trên 1 dòng.</span>
          </div>
          <p v-if="business && productIds.length > 0">Sẽ gán <strong>{{ productIds.length }}</strong> sản phẩm cho <strong>{{ business.name }}</strong></p>
          <div class="m-form__actions">
            <button type="button" class="btn btn-primary" :disabled="!(business && productIds.length > 0)" @click="submit">Thực hiện</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import axios from 'axios'

export default {
  data() {
    return {
      businessId: null,
      business: null,
      productIdsString: null,
      productIds: []
    }
  },
  watch: {
    businessId(val) {
      this.fetchBusinessInfo()
    },
    productIdsString(val) {
      this.productIds = this.productIdsString ? this.productIdsString.split(/\r?\n/).filter(item => item.trim() !== '') : []
    }
  },
  methods: {
    fetchBusinessInfo: _.debounce(function () {
      if (this.businessId) {
        axios.get('/business/businesses/' + this.businessId).then(({ data }) => {
          this.business = data.data
        }, () => {
          this.business = null
        })
      }
    }, 500),
    submit() {
      axios.post('/business/businesses/' + this.businessId + '/assignProduct', { ids: this.productIds }).then(({ data }) => {
        alert('done');
        this.businessId = null
        this.productIdsString = null
      }, () => {
        alert('error');
      })
    }
  }
}
</script>
