<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <router-link
              class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
              tag="button"
              :to="{ name: 'business.business.index' }"
            >
              <i class="la la-angle-left"></i>
            </router-link>
            <h3 class="m-subheader__title">Tạo doanh nghiệp</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <form @submit.prevent="validateBeforeSubmit(create)" class="m-form">
          <div :class="{ 'form-group': true, 'm-form__group': true, 'has-danger': errors.has('name') }">
            <label for="name">Tên Doanh nghiệp</label>
            <input type="text" class="form-control m-input" id="name" name="name" v-validate="'required'" v-model="business.name">
            <div v-if="errors.has('name')" class="form-control-feedback">{{ errors.first('name') }}</div>
          </div>
          <div :class="{ 'form-group': true, 'm-form__group': true, 'has-danger': errors.has('address') }">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control m-input" id="address" name="address" v-validate="'required'" v-model="business.address">
            <div v-if="errors.has('address')" class="form-control-feedback">{{ errors.first('address') }}</div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('phone') }">
                <label for="phone">Số điện thoại</label>
                <input type="text" class="form-control m-input" id="phone" name="phone" v-validate="'required'" v-model="business.phoneNumber">
                <div v-if="errors.has('phone')" class="form-control-feedback">{{ errors.first('phone') }}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('fax') }">
                <label for="login-phone">Fax</label>
                <input type="text" class="form-control m-input" id="login-phone" name="fax" v-model="business.loginPhone">
                <div v-if="errors.has('fax')" class="form-control-feedback">{{ errors.first('fax') }}</div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('email') }">
                <label for="email">Email</label>
                <input type="text" class="form-control m-input" id="email" name="email" v-validate="'email'" v-model="business.email">
                <div v-if="errors.has('email')" class="form-control-feedback">{{ errors.first('email') }}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('website') }">
                <label for="website">Website</label>
                <input type="text" class="form-control m-input" id="website" name="website" v-model="business.website">
                <div v-if="errors.has('website')" class="form-control-feedback">{{ errors.first('website') }}</div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('status') }">
                <label for="status">Trạng thái</label>
                <select class="form-control m-input" id="status" name="status" v-validate="'required'" v-model="business.status">
                  <option value="0">Chưa kích hoạt</option>
                  <option value="1">Đã kích hoạt</option>
                </select>
                <div v-if="errors.has('status')" class="form-control-feedback">{{ errors.first('status') }}</div>
              </div>
            </div>
          </div>
          <div class="m--margin-top-20">
            <button type="submit" :class="{
              'btn': true,
              'btn-primary': true,
              'btn-block': true
            }" :disabled="creating">Tạo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'

export default {
  data() {
    return {
      business: {},
      creating: false
    }
  },
  methods: {
    async validateBeforeSubmit(callback) {
      const result = await this.$validator.validateAll()

      if (result) {
        callback()
      }
    },
    create() {
      this.creating = true

      axios.post(
        this.$helpers.apiUrl(
          `/business/businesses`
        ),
        this.business
      )
        .then(({ data }) => {
          swal({
            title: 'Thành công!',
            type: 'success'
          }).then(value => {
            this.$router.push({ name: 'business.business.index' })
          })
        })
        .catch((e) => {
          swal({
            title: 'Lỗi!',
            text: e.message,
            type: 'error'
          })
        })
        .finally(() => {
          this.creating = false
        })
    }
  }
}
</script>
