<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Danh sách Yêu cầu quản lý sản phẩm</h3>
            <button tyoe="button" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon" @click="batchApproveManageProductRequest" :disabled="!hasSelectedRows || disableActionButtons">
              <span><i class="la la-check"></i> <span>Chấp nhận</span></span>
            </button>
            <button tyoe="button" class="btn btn-outline-danger m-btn m-btn--custom m-btn--icon" @click="batchRejectManageProductRequest" :disabled="!hasSelectedRows || disableActionButtons">
              <span><i class="la la-remove"></i> <span>Từ chối</span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="items"
          :selectionChanged="onSelectionChanged"
        >
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { AgGridVue } from 'ag-grid-vue'
import moment from 'moment'
import $ from 'jquery'
import swal from 'sweetalert2'
import debounce from 'lodash/debounce'
import map from 'lodash/map'

export default {
  data() {
    return {
      items: [],
      // Multiple
      disableActionButtons: false,
      hasSelectedRows: false
    }
  },
  filters: {
    ago(value) {
      return moment(value).fromNow()
    },
    formatDate(value) {
      return moment(value).format('LLLL')
    }
  },
  computed: {
    gridOptions() {
      return {
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        defaultColDef: {
          menuTabs: ['filterMenuTab']
        },
        rowHeight: 32,
        columnDefs: [
          {
            headerName: 'Tên công ty',
            suppressSorting: true,
            field: 'sender.name',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Sản phẩm',
            suppressSorting: true,
            field: 'product.barcode',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Thời gian gửi yêu cầu',
            suppressSorting: true,
            suppressFilter: true,
            field: 'createdAt',
            cellRenderer(params) {
              return `${moment(params.value).format('LLLL')}`
            }
          },
          {
            pinned: 'right',
            suppressMenu: true,
            suppressSorting: true,
            suppressFilter: true,
            suppressSizeToFit: true,
            suppressMovable: true,
            suppressResize: true,
            suppressNavigable: true,
            suppressToolPanel: true,
            cellRendererFramework: 'rowActionsRendererComponent'
          }
        ]
      }
    }
  },
  components: {
    AgGridVue,
    rowActionsRendererComponent: {
      data() {
        return {
          approving: false,
          rejecting: false
        }
      },
      template: `
        <div>
          <button class="btn btn-sm m-btn m-btn--hover-success m-btn--icon m-btn--icon-only m-btn--pill" @click.prevent="approve" title="Chấp nhận">
            <i class="la la-check"></i>
          </button>
          <button class="btn btn-sm m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" @click.prevent="reject" title="Từ chối">
            <i class="la la-remove"></i>
          </button>
        </div>`,
      methods: {
        refresh(params) {
          this.params = params
        },
        approve() {
          if (!this.approving && !this.rejecting) {
            this.approving = true
            this.params.context.componentParent.approveManageProductRequest(this.params.data)
            this.approving = false
          }
        },
        reject() {
          if (!this.approving && !this.rejecting) {
            this.rejecting = true
            this.params.context.componentParent.rejectManageProductRequest(this.params.data)
            this.rejecting = false
          }
        }
      }
    }
  },
  methods: {
    onSelectionChanged(event) {
      this.hasSelectedRows = this.gridOptions.api.getSelectedRows().length > 0
    },
    async fetchItems() {
      try {
        const res = await axios.get(
          this.$helpers.apiUrl(
            `/business/manageProductRequests`
          )
        )
        this.items = res.data.data
      } catch (e) {
        console.error(e)
      }
    },
    async batchApproveManageProductRequest() {
      this.disableActionButtons = true
      this.gridOptions.api.showLoadingOverlay()

      try {
        await axios.post(
          this.$helpers.apiUrl(
            `/business/manageProductRequests/batchUpdate`
          ),
          { ids: map(this.gridOptions.api.getSelectedRows(), 'id'), data: { status: 1 } }
        )
        this.gridOptions.api.updateRowData({ remove: this.gridOptions.api.getSelectedRows() })
      } catch (e) {
        console.error(e)
      }

      this.gridOptions.api.hideOverlay()
      this.disableActionButtons = false
    },
    async approveManageProductRequest(request) {
      try {
        await axios.put(
          this.$helpers.apiUrl(
            `/business/manageProductRequests/${request.id}`
          ),
          { status: 1 }
        )
        this.gridOptions.api.updateRowData({ remove: [request] })
      } catch (e) {
        console.error(e)
      }
    },
    async batchRejectManageProductRequest() {
      this.disableActionButtons = true
      this.gridOptions.api.showLoadingOverlay()

      try {
        await axios.post(
          this.$helpers.apiUrl(
            `/business/manageProductRequests/batchUpdate`
          ),
          { ids: map(this.gridOptions.api.getSelectedRows(), 'id'), data: { status: 2 } }
        )
        this.gridOptions.api.updateRowData({ remove: this.gridOptions.api.getSelectedRows() })
      } catch (e) {
        console.error(e)
      }

      this.gridOptions.api.hideOverlay()
      this.disableActionButtons = false
    },
    async rejectManageProductRequest(request) {
      try {
        await axios.put(
          this.$helpers.apiUrl(
            `/business/manageProductRequests/${request.id}`
          ),
          { status: 2 }
        )
        this.gridOptions.api.updateRowData({ remove: [request] })
      } catch (e) {
        console.error(e)
      }
    }
  },
  created() {
    this.fetchItems()
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
  }
}
</script>

