<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Danh sách Yêu cầu đăng ký gói</h3>
            <button tyoe="button" class="btn btn-outline-info m-btn m-btn--custom m-btn--icon" @click="showAddSubscriptionModal">
              <span><i class="la la-plus"></i> <span>Tạo đăng ký mới</span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="subscriptions"
        >
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { AgGridVue } from 'ag-grid-vue'
import $ from 'jquery'
import swal from 'sweetalert2'
import moment from 'moment'

function showErrorAlert(message) {
  swal({
    title: 'Lỗi!',
    text: message,
    type: 'error'
  })
}

export default {
  props: {
    product: Object
  },
  data() {
    return {
      subscriptions: [],
      newSubscription: {},
      submitting: false
    }
  },
  computed: {
    gridOptions() {
      return {
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        defaultColDef: {
          menuTabs: ['filterMenuTab']
        },
        columnDefs: [
          {
            headerName: 'Tên công ty',
            suppressSorting: true,
            field: 'business.name',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true
          },
          {
            headerName: 'Tên gói',
            suppressSorting: true,
            field: 'plan.name',
            valueFormatter(params) {
              return `${params.value} (${params.data.plan.quota} sản phâm)`
            }
          },
          {
            headerName: 'Thời gian (ngày)',
            suppressSorting: true,
            field: 'days'
          },
          {
            headerName: 'Thời gian gửi yêu cầu',
            suppressSorting: true,
            field: 'createdAt',
            cellRenderer(params) {
              return `${moment(params.value).format('LLLL')}`
            }
          },
          {
            suppressSorting: true,
            cellRendererFramework: 'actionRendererComponent'
          }
        ]
      }
    }
  },
  components: {
    AgGridVue,
    actionRendererComponent: {
      data() {
        return {
          submitting: false
        }
      },
      template: `
        <div>
          <button type="button" class="btn btn-success btn-sm m-btn m-btn--custom" :disabled="submitting" @click="approve">Chấp nhận</button>
          <button type="button" class="btn btn-danger btn-sm m-btn m-btn--custom" :disabled="submitting" @click="reject">Từ chối</button>
        </div>`,
      methods: {
        async approve() {
          this.submitting = true

          axios.put(`/business/subscriptions/${this.params.data.id}`, { status: 1 })
            .then(({ data }) => {
              if (data.hasOwnProperty('error')) {
              } else {
                swal({
                  title: 'Thành công!',
                  type: 'success'
                })

                this.params.api.updateRowData({ remove: [this.params.data] })
              }
            })
            .catch((e) => {
              swal({
                title: 'Lỗi!',
                text: e.message,
                type: 'error'
              })
            })
            .finally(() => {
              this.submitting = false
            })
        },
        async reject() {
          this.submitting = true

          axios.delete(`/business/subscriptions/${this.params.data.id}`)
            .then(({ data }) => {
              if (data.hasOwnProperty('error')) {
              } else {
                swal({
                  title: 'Thành công!',
                  type: 'success'
                })

                this.params.api.updateRowData({ remove: [this.params.data] })
              }
            })
            .catch((e) => {
              swal({
                title: 'Lỗi!',
                text: e.message,
                type: 'error'
              })
            })
            .finally(() => {
              this.submitting = false
            })
        }
      }
    }
  },
  methods: {
    async validateBeforeSubmit() {
      const result = await this.$validator.validateAll()

      if (result) {
        this.submit()
      }
    },
    submit() {
      this.submitting = true

      axios.post(`/business/subscriptions`, this.newSubscription)
        .then(({ data }) => {
          if (data.hasOwnProperty('error')) {
          } else {
            swal({
              title: 'Thành công!',
              text: `Đã tạo gói ${this.newSubscription.name}`,
              type: 'success'
            })
            this.hideAddSubscriptionModal()
            this.newSubscription = {}
            this.fetchSubscriptions()
          }
        })
        .catch((e) => {
          swal({
            title: 'Lỗi!',
            text: e.message,
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    },
    showAddSubscriptionModal() {
      $(this.$refs.addSubscriptionModal).modal('show')
    },
    hideAddSubscriptionModal() {
      $(this.$refs.addSubscriptionModal).modal('hide')
    },
    async fetchSubscriptions() {
      try {
        const res = await axios.get(`/business/subscriptions`)
        this.subscriptions = res.data.data
      } catch (e) {

      }
    }
  },
  created() {
    this.fetchSubscriptions()
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
  }
}
</script>
