<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Danh sách gói</h3>
            <button type="button" class="btn btn-outline-primary m-btn m-btn--icon" @click="showAddPlanModal">
              <span>
                <i class="la la-plus"></i>
                <span>Thêm gói</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="plans"
        >
        </ag-grid-vue>
      </div>
      <div class="modal fade" ref="addPlanModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <form @submit.prevent="validateBeforeSubmit" class="modal-content m-form">
            <div class="modal-header">
              <h5 class="modal-title">
                Thêm gói
              </h5>
            </div>
            <div class="modal-body">
              <div class="form-group m-form__group row">
                <div class="col-md-4">
                  <div :class="{ 'has-danger': errors.has('name') }">
                    <label for="name">Tên gói</label>
                    <input type="text" class="form-control m-input" id="name" name="name" v-validate="'required|max:100'" v-model="newPlan.name">
                    <div v-if="errors.has('name')" class="form-control-feedback">{{ errors.first('name') }}</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div :class="{ 'has-danger': errors.has('quota') }">
                    <label for="quota">Số lượng sản phẩm</label>
                    <input type="number" class="form-control m-input" id="quota" name="quota" v-validate="'required|integer|min_value:1'" v-model="newPlan.quota">
                    <div v-if="errors.has('quota')" class="form-control-feedback">{{ errors.first('quota') }}</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div :class="{ 'has-danger': errors.has('price') }">
                    <label for="price">Giá (VNĐ/năm)</label>
                    <input type="number" class="form-control m-input" id="price" name="price" v-validate="'required|integer|min_value:1'" v-model="newPlan.price">
                    <div v-if="errors.has('price')" class="form-control-feedback">{{ errors.first('price') }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary m-btn m-btn--custom" data-dismiss="modal">Hủy bỏ</button>
              <button type="submit" :class="{
                'btn': true,
                'btn-primary': true,
                'm-btn': true,
                'm-btn--custom': true
              }" :disabled="submitting">Tạo mới</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { AgGridVue } from 'ag-grid-vue'
import $ from 'jquery'
import swal from 'sweetalert2'

export default {
  props: {
    product: Object
  },
  data() {
    return {
      plans: [],
      newPlan: {},
      submitting: false
    }
  },
  computed: {
    gridOptions() {
      return {
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        defaultColDef: {
          menuTabs: ['filterMenuTab']
        },
        columnDefs: [
          {
            headerName: 'Tên',
            suppressSorting: true,
            field: 'name',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true
          },
          {
            headerName: 'Số lượng sản phẩm',
            suppressSorting: true,
            field: 'quota'
          },
          {
            headerName: 'Giá (VNĐ/năm)',
            suppressSorting: true,
            field: 'price'
          }
        ]
      }
    }
  },
  components: {
    AgGridVue
  },
  methods: {
    async validateBeforeSubmit() {
      const result = await this.$validator.validateAll()

      if (result) {
        this.submit()
      }
    },
    submit() {
      this.submitting = true

      axios.post(`/business/plans`, this.newPlan)
        .then(({ data }) => {
          if (data.hasOwnProperty('error')) {
          } else {
            swal({
              title: 'Thành công!',
              text: `Đã tạo gói ${this.newPlan.name}`,
              type: 'success'
            })
            this.hideAddPlanModal()
            this.newPlan = {}
            this.fetchPlans()
          }
        })
        .catch((e) => {
          swal({
            title: 'Lỗi!',
            text: e.message,
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    },
    showAddPlanModal() {
      $(this.$refs.addPlanModal).modal('show')
    },
    hideAddPlanModal() {
      $(this.$refs.addPlanModal).modal('hide')
    },
    async fetchPlans() {
      try {
        const res = await axios.get(`/business/plans`)
        this.plans = res.data.data
      } catch (e) {

      }
    }
  },
  created() {
    this.fetchPlans()
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
  }
}
</script>
