<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Danh sách Doanh nghiệp</h3>
            <router-link
              class="btn btn-outline-primary m-btn m-btn--icon"
              tag="button"
              :to="{ name: 'business.business.create' }"
            >
              <span>
                <i class="la la-plus"></i>
                <span>Tạo doanh nghiệp</span>
              </span>
            </router-link>
            <!-- <button type="button" class="btn btn-outline-danger m-btn m-btn--icon" :disabled="selectedMembers <= 0">
              <span>
                <i class="la la-user-times"></i>
                <span>Xóa</span>
              </span>
            </button> -->
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-material"
          :gridOptions="gridOptions"
          :selectionChanged="onSelectionChanged"
        >
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import axios from 'axios'
import swal from 'sweetalert2'
import { map } from 'lodash'
import router from '../../routes'
import $ from 'jquery'
import select2 from 'select2'

export default {
  data() {
    return {}
  },
  computed: {
    gridOptions() {
      return {
        rowModelType: 'enterprise',
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        columnDefs: [
          {
            headerName: 'Tên',
            field: 'name',
            pinned: 'left',
            suppressSorting: true,
            suppressMovable: true,
            filter: 'agTextColumnFilter',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true,
            cellRendererFramework: 'nameRendererComponent'
          },
          {
            headerName: 'Địa chỉ',
            field: 'address',
            suppressSorting: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Số điện thoại',
            field: 'phoneNumber',
            suppressSorting: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Fax',
            field: 'fax',
            suppressSorting: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Email',
            field: 'email',
            suppressSorting: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Website',
            field: 'website',
            suppressSorting: true,
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Trạng thái',
            field: 'status',
            suppressSorting: true,
            filter: 'agTextColumnFilter',
            cellRenderer(params) {
              return params.value == '1' ? 'Đã kích hoạt' : 'Chưa kích hoạt'
            }
          },
          {
            headerName: 'Ngày tạo',
            field: 'createdAt',
            filter: 'agDateColumnFilter'
          },
          {
            headerName: 'Ngày kích hoạt',
            field: 'activatedAt',
            filter: 'agDateColumnFilter'
          },
          {
            headerName: 'Lần cập nhật cuối',
            field: 'updatedAt',
            suppressSorting: true,
            filter: 'agDateColumnFilter'
          },
          {
            pinned: 'right',
            suppressMenu: true,
            suppressSorting: true,
            suppressFilter: true,
            suppressSizeToFit: true,
            suppressMovable: true,
            suppressResize: true,
            suppressNavigable: true,
            suppressToolPanel: true,
            cellRendererFramework: 'rowActionsRendererComponent'
          }
        ]
      }
    }
  },
  components: {
    AgGridVue,
    nameRendererComponent: {
      router,
      template: `<router-link v-if="this.params.data !== undefined" :to="{ name: 'business.business.edit', params: { id: params.data.id } }">{{ params.value }}</router-link>`
    },
    rowActionsRendererComponent: {
      router,
      data() {
        return {
          activating: false,
          deactivating: false,
          deleting: false
        }
      },
      template: `
        <div>
          <button v-if="this.params.data.status" class="btn btn-sm m-btn m-btn--hover-metal m-btn--icon m-btn--icon-only m-btn--pill" :disabled="deactivating" @click.prevent="deactivate" title="Hủy kích hoạt">
            <i class="la la-remove"></i>
          </button>
          <button v-else class="btn btn-sm m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" :disabled="activating" @click.prevent="activate" title="Kích hoạt">
            <i class="la la-check"></i>
          </button>
          <router-link tag="button" class="btn btn-sm m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill" v-if="this.params.data !== undefined" :to="{ name: 'business.business.edit', params: { id: params.data.id } }" title="Sửa"><i class="la la-edit"></i></router-link>
          <button class="btn btn-sm m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" :disabled="deleting" @click.prevent="selfDelete" title="Xóa">
            <i class="la la-trash"></i>
          </button>
        </div>`,
      methods: {
        async activate() {
          if (!this.activating) {
            this.activating = true
            await this.params.context.componentParent.activateBusiness(this.params.data)
            this.params.node.setDataValue('status', 1)
            this.activating = false
          }
        },
        async deactivate() {
          if (!this.deactivating) {
            this.deactivating = true
            await this.params.context.componentParent.deactivateBusiness(this.params.data)
            this.params.node.setDataValue('status', 0)
            this.deactivating = false
          }
        },
        async selfDelete() {
          if (!this.deleting) {
            if (confirm('Bạn có chắc chắn muốn thực hiện thao tác này?')) {
              this.deleting = true
              await this.params.context.componentParent.deleteBusiness(this.params.data)
              this.deleting = false
            }
          }
        }
      }
    }
  },
  methods: {
    onSelectionChanged(event) {
      this.selectedMembers = map(event.api.getSelectedNodes(), node => {
        return node.data
      })
    },
    async activateBusiness(business) {
      try {
        await axios.put(
          this.$helpers.apiUrl(
            `/business/businesses/${business.id}`
          ),
          { status: 1 }
        )
      } catch (e) {
        console.error(e)
      }
    },
    async deactivateBusiness(business) {
      try {
        await axios.put(
          this.$helpers.apiUrl(
            `/business/businesses/${business.id}`
          ),
          { status: 0 }
        )
      } catch (e) {
        console.error(e)
      }
    },
    async deleteBusiness(business) {
      try {
        await axios.delete(
          this.$helpers.apiUrl(
            `/business/businesses/${business.id}`
          )
        )
        this.gridOptions.api.purgeEnterpriseCache()
      } catch (e) {
        console.error(e)
      }
    }
  },
  mounted() {
    const datasource = {
      async getRows(params) {
        let res = await axios.post('/business/businesses/query', params.request)
        params.successCallback(res.data.data, res.data.meta.count)
      }
    }
    this.gridOptions.api.setEnterpriseDatasource(datasource)
  }
}
</script>
