<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title">Gửi tin nhắn cho tất cả người dùng</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="sender">Người gửi</label>
                <input type="text" class="form-control m-input" id="sender" placeholder="Nhập iCheck ID" v-model="accountId">
              </div>
              <div class="form-group m-form__group">
                <label for="firebase-token">Firebase Token</label>
                <input type="text" class="form-control m-input" id="firebase-token" disabled v-model="account && account.firebaseToken">
              </div>
              <div class="form-group m-form__group">
                <label for="content">Nội dung tin nhắn</label>
                <textarea class="form-control m-input" id="content" placeholder="Nhập cái gì đó :)" rows="6" v-model="payload.message.content"></textarea>
              </div>
              <div class="form-group m-form__group">
                <label for="image">Hình ảnh</label>
                <input type="text" class="form-control m-input" id="image" placeholder="" v-model="payload.message.image">
              </div>
              <div class="form-group m-form__group">
                <label for="target-type">Target Type</label>
                <input type="text" class="form-control m-input" id="target-type" placeholder="" v-model="payload.target.type">
              </div>
              <div class="form-group m-form__group">
                <label for="target-id">Target ID</label>
                <input type="text" class="form-control m-input" id="target-id" placeholder="" v-model="payload.target.id">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="attachment-type">Loại đính kèm</label>
                <select class="form-control m-input" id="attachment-type" v-model="attachmentType">
                  <option value="0" selected>Không xác định</option>
                  <option value="1">product</option>
                  <option value="2">affiliate_product</option>
                  <option value="3">link</option>
                  <option value="4">location_product</option>
                </select>
              </div>
              <template v-if="attachmentType == 1">
                <div class="form-group m-form__group">
                  <label for="product-gtin">GTIN</label>
                  <input type="text" class="form-control m-input" id="product-gtin" placeholder="" v-model="attachmentProduct.gtin_code">
                </div>
                <div class="form-group m-form__group">
                  <label for="product-name">Tên sản phẩm</label>
                  <input type="text" class="form-control m-input" id="product-name" placeholder="" v-model="attachmentProduct.product_name">
                </div>
                <div class="form-group m-form__group">
                  <label for="product-image">Hình ảnh</label>
                  <input type="text" class="form-control m-input" id="product-image" placeholder="" v-model="attachmentProduct.image_default">
                </div>
                <div class="form-group m-form__group">
                  <label for="product-price">Giá</label>
                  <input type="text" class="form-control m-input" id="product-price" placeholder="" v-model="attachmentProduct.price_default">
                </div>
                <div class="form-group m-form__group">
                  <label for="product-currency">Tiền tệ</label>
                  <input type="text" class="form-control m-input" id="product-currency" placeholder="" v-model="attachmentProduct.currency_default">
                </div>
              </template>
              <template v-else-if="attachmentType == 2">
                <div class="form-group m-form__group">
                  <label for="affiliate-product-id">ID</label>
                  <input type="text" class="form-control m-input" id="affiliate-product-id" placeholder="" v-model="attachmentAffiliateProduct.id">
                </div>
                <div class="form-group m-form__group">
                  <label for="affiliate-product-name">Tên sản phẩm</label>
                  <input type="text" class="form-control m-input" id="affiliate-product-name" placeholder="" v-model="attachmentAffiliateProduct.name">
                </div>
                <div class="form-group m-form__group">
                  <label for="affiliate-product-image">Hình ảnh</label>
                  <input type="text" class="form-control m-input" id="affiliate-product-image" placeholder="" v-model="attachmentAffiliateProduct.image">
                </div>
                <div class="form-group m-form__group">
                  <label for="affiliate-product-price">Giá</label>
                  <input type="text" class="form-control m-input" id="affiliate-product-price" placeholder="" v-model="attachmentAffiliateProduct.price">
                </div>
              </template>
              <template v-else-if="attachmentType == 3">
                <div class="form-group m-form__group">
                  <label for="link-link">Link</label>
                  <input type="text" class="form-control m-input" id="link-link" placeholder="" v-model="attachmentLink.link">
                </div>
                <div class="form-group m-form__group">
                  <label for="link-title">Tiêu đề</label>
                  <input type="text" class="form-control m-input" id="link-title" placeholder="" v-model="attachmentLink.title">
                </div>
                <div class="form-group m-form__group">
                  <label for="link-image">Hình ảnh</label>
                  <input type="text" class="form-control m-input" id="link-image" placeholder="" v-model="attachmentLink.image">
                </div>
                <div class="form-group m-form__group">
                  <label for="link-description">Mô tả</label>
                  <input type="text" class="form-control m-input" id="link-description" placeholder="" v-model="attachmentLink.description">
                </div>
              </template>
              <template v-if="attachmentType == 4">
                <div class="form-group m-form__group">
                  <label for="location-product-id">Location ID</label>
                  <input type="text" class="form-control m-input" id="location-product-id" placeholder="" v-model="attachmentLocationProduct.localId">
                </div>
                <div class="form-group m-form__group">
                  <label for="location-product-gtin">GTIN</label>
                  <input type="text" class="form-control m-input" id="location-product-gtin" placeholder="" v-model="attachmentLocationProduct.gtinCode">
                </div>
                <div class="form-group m-form__group">
                  <label for="location-product-name">Tên sản phẩm</label>
                  <input type="text" class="form-control m-input" id="location-product-name" placeholder="" v-model="attachmentLocationProduct.name">
                </div>
                <div class="form-group m-form__group">
                  <label for="location-product-image">Hình ảnh</label>
                  <input type="text" class="form-control m-input" id="location-product-image" placeholder="" v-model="attachmentLocationProduct.image">
                </div>
                <div class="form-group m-form__group">
                  <label for="location-product-price">Giá</label>
                  <input type="text" class="form-control m-input" id="location-product-price" placeholder="" v-model="attachmentLocationProduct.price">
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="m--margin-top-20">
          <button type="button" :class="{
            'btn': true,
            'btn-primary': true,
            'btn-block': true
          }" :disabled="submitting || !(account && account.firebaseToken)" @click="submit">Thực hiện</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert2'

export default {
  data() {
    return {
      accountId: null,
      account: null,
      attachmentType: 0,
      payload: {
        message: {},
        target: {}
      },
      attachmentProduct: {},
      attachmentAffiliateProduct: {},
      attachmentLink: {},
      attachmentLocationProduct: {},
      submitting: false
    }
  },
  watch: {
    accountId(val) {
      this.fetchAccountInfo()
    }
  },
  methods: {
    fetchAccountInfo: _.debounce(function () {
      if (this.accountId) {
        axios.get('/core/accounts/' + this.accountId).then(({ data }) => {
          this.account = data.data
        }, () => {
          this.account = null
        })
      }
    }, 500),
    submit() {
      delete this.payload.product
      delete this.payload.affiliate_product
      delete this.payload.link
      delete this.payload.location_product
      let payload = this.payload

      if (this.attachmentType == 1) {
        payload.message.product = this.attachmentProduct
      } else if (this.attachmentType == 2) {
        payload.message.affiliate_product = this.attachmentAffiliateProduct
      } else if (this.attachmentType == 3) {
        payload.message.link = this.attachmentLink
      } else if (this.attachmentType == 4) {
        payload.message.location_product = this.attachmentLocationProduct
      }

      this.submitting = true

      delete axios.defaults.headers.common['X-CSRF-TOKEN'];
      axios.post(this.$root.config.chatAPIUrl + '/businesses/messages', payload, { headers: {'Authorization': `Bearer ${this.account.firebaseToken}`} })
        .then(({ data }) => {
          swal({
            title: 'Thành công!',
            text: 'Gửi tin nhắn thành công',
            type: 'success'
          })

          this.agency = {}
        })
        .catch(() => {
          swal({
            title: 'Lỗi!',
            text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    }
  }
}
</script>
