<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <router-link
              class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
              tag="button"
              :to="{ name: 'qrCode.agency.index' }"
            >
              <i class="la la-angle-left"></i>
            </router-link>
            <h3 class="m-subheader__title">Sửa đại lý</h3>
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div v-if="agency" class="m-content">
        <form @submit.prevent="validateBeforeSubmit" class="m-form">
          <div :class="{ 'form-group': true, 'm-form__group': true, 'has-danger': errors.has('name') }">
            <label for="name">Tên Đại lý</label>
            <input type="text" class="form-control m-input" id="name" name="name" v-validate="'required'" v-model="agency.name">
            <div v-if="errors.has('name')" class="form-control-feedback">{{ errors.first('name') }}</div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('email') }">
                <label for="email">Email</label>
                <input type="text" class="form-control m-input" id="email" name="email" v-validate="'required|email'" v-model="agency.email">
                <div v-if="errors.has('email')" class="form-control-feedback">{{ errors.first('email') }}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('phone') }">
                <label for="phone">Số điện thoại đại lý</label>
                <input type="text" class="form-control m-input" id="phone" name="phone" v-validate="'required'" v-model="agency.phone">
                <div v-if="errors.has('phone')" class="form-control-feedback">{{ errors.first('phone') }}</div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('login_phone') }">
                <label for="login-phone">Số điện thoại xác minh</label>
                <input type="text" class="form-control m-input" id="login-phone" name="login_phone" v-validate="'required'" v-model="agency.loginPhone">
                <div v-if="errors.has('login_phone')" class="form-control-feedback">{{ errors.first('login_phone') }}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('password') }">
                <label for="password">Mật khẩu đăng nhập</label>
                <input type="text" class="form-control m-input" id="password" name="password" v-model="agency.password">
                <div v-if="errors.has('password')" class="form-control-feedback">{{ errors.first('password') }}</div>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group row">
            <div class="col-md-6">
              <div :class="{ 'has-danger': errors.has('status') }">
                <label for="status">Trạng thái</label>
                <select class="form-control m-input" id="status" v-model="agency.status">
                  <option value="0">Chưa kích hoạt</option>
                  <option value="1">Đã kích hoạt</option>
                </select>
                <div v-if="errors.has('status')" class="form-control-feedback">{{ errors.first('status') }}</div>
              </div>
            </div>
          </div>
          <div class="m--margin-top-20">
            <button type="submit" :class="{
              'btn': true,
              'btn-primary': true,
              'btn-block': true
            }" :disabled="submitting">Cập nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash'
import axios from 'axios'
import swal from 'sweetalert2'

export default {
  data() {
    return {
      agency: null,
      submitting: false
    }
  },
  methods: {
    async fetchAgency(id) {
      let res = await axios.get(`/qrCode/agencies/${id}`)
      this.agency = res.data.data
    },
    async validateBeforeSubmit() {
      const result = await this.$validator.validateAll()

      if (result) {
        this.submit()
      }
    },
    submit() {
      this.submitting = true

      axios.put(`/qrCode/agencies/${this.agency.id}`, this.agency)
        .then(({ data }) => {
          swal({
            title: 'Thành công!',
            text: `Đã cập nhật thông tin đại lý ${this.agency.name}`,
            type: 'success'
          })
        })
        .catch(() => {
          swal({
            title: 'Lỗi!',
            text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
            type: 'error'
          })
        })
        .finally(() => {
          this.submitting = false
        })
    }
  },
  created() {
    this.fetchAgency(this.$route.params.id)
  }
}
</script>
