<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Danh sách Đại lý</h3>
            <router-link
              class="btn btn-outline-primary m-btn m-btn--icon"
              tag="button"
              :to="{ name: 'qrCode.agency.create' }"
            >
              <span>
                <i class="la la-plus"></i>
                <span>Tạo đại lý</span>
              </span>
            </router-link>
            <!-- <button type="button" class="btn btn-outline-danger m-btn m-btn--icon" :disabled="selectedMembers <= 0">
              <span>
                <i class="la la-user-times"></i>
                <span>Xóa</span>
              </span>
            </button> -->
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <!-- <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
          <div class="m-alert__icon m-alert__icon--top">
            <i class="flaticon-exclamation m--font-info"></i>
          </div>
          <div class="m-alert__text">
            <p>
              Danh sách Đại lý QR Code.
            </p>
          </div>
        </div> -->
        <!-- <select ref="search" class="form-control m-select2" multiple="multiple"></select> -->
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="members"
          :selectionChanged="onSelectionChanged"
        >
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import axios from 'axios'
import swal from 'sweetalert2'
import { map } from 'lodash'
import router from '../../routes'
import $ from 'jquery'
import select2 from 'select2'

export default {
  data() {
    return {
      members: [],
      selectedMembers: []
    }
  },
  computed: {
    gridOptions() {
      return {
        rowModelType: 'enterprise',
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        columnDefs: [
          {
            headerName: 'Tên',
            field: 'name',
            pinned: 'left',
            suppressMovable: true,
            filter: 'agTextColumnFilter',
            checkboxSelection: false,
            headerCheckboxSelection: false,
            headerCheckboxSelectionFilteredOnly: true,
            cellRendererFramework: 'name-renderer-component'
          },
          {
            headerName: 'Email',
            field: 'email',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Số điện thoại đại lý',
            field: 'phone',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Số điện thoại xác minh',
            field: 'loginPhone',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Trạng thái',
            field: 'status',
            filter: 'agTextColumnFilter',
            cellRendererFramework: 'statusRendererComponent'
          },
          {
            headerName: 'Lần cập nhật cuối',
            field: 'updatedAt',
            filter: 'agDateColumnFilter'
          },
          {
            headerName: 'Ngày tạo',
            field: 'createdAt',
            filter: 'agDateColumnFilter'
          },
          {
            suppressMenu: true,
            suppressSorting: true,
            suppressFilter: true,
            suppressSizeToFit: true,
            suppressMovable: true,
            suppressResize: true,
            suppressNavigable: true,
            suppressToolPanel: true,
            cellRendererFramework: 'actionRendererComponent'
          }
        ]
      }
    }
  },
  components: {
    'ag-grid-vue': AgGridVue,
    'name-renderer-component': {
      router,
      template: `<router-link v-if="this.params.data !== undefined" :to="{ name: 'qrCode.agency.edit', params: { id: params.data.id } }">{{ params.value }}</router-link>`
    },
    statusRendererComponent: {
      data() {
        return {
          changing: false
        }
      },
      template: `
        <div v-if="changing">
          <i class="la la-refresh"></i> Đang cập nhật..
        </div>
        <a href="#" v-else-if="this.params.value == 1" @click.prevent="deactivate">
          Đã kích hoạt
        </a>
        <a href="#" v-else @click.prevent="activate">
          Chưa kích hoạt
        </a>`,
      methods: {
        refresh(params) {
          this.params = params
        },
        activate() {
          this.updateStatus(1)
        },
        deactivate() {
          this.updateStatus(0)
        },
        updateStatus(status) {
          this.changing = true

          axios.put(`/qrCode/agencies/${this.params.data.id}`, { status })
            .then(({ data }) => {
              this.params.node.setDataValue('status', status)
            })
            .catch(() => {
              swal({
                title: 'Lỗi!',
                text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
                type: 'error'
              })
            })
            .finally(() => {
              this.changing = false
            })
        }
      }
    },
    actionRendererComponent: {
      template: `
        <div v-if="this.params.data !== undefined">
          <button @click="remove" title="Xóa">
            <i class="la la-remove"></i>
          </button>
        </div>`,
      methods: {
        remove() {
          if (confirm("Bạn chắc chắn muốn xoá?")) {
            this.params.context.componentParent.removeOne(this.params.data)
          }
        }
      }
    }
  },
  methods: {
    onSelectionChanged(event) {
      this.selectedMembers = map(event.api.getSelectedNodes(), node => {
        return node.data
      })
    },
    removeOne(agency) {
      axios.delete('/qrCode/agencies/' + agency.id)
        .then(({ data }) => {
          swal({
            title: 'Thành công!',
            text: 'Xóa đại lý thành công',
            type: 'success'
          })
          this.gridOptions.api.purgeEnterpriseCache()
        })
        .catch(() => {
          swal({
            title: 'Lỗi!',
            text: 'Đã có lỗi xảy ra, xin vui lòng thử lại',
            type: 'error'
          })
        })
    }
  },
  mounted() {
    $(this.$refs.search)
      .select2({
        placeholder: 'Nhập iCheck ID',
        tags: true,
        data: [
          {
            id: 4,
            text: 'HOẶC'
          }
        ],
        createTag: function (params) {
          // Don't offset to create a tag if there is no @ symbol
          if (params.term !== 'HOẶC') {
            // Return null to disable tag creation
            return null;
          }

          return {
            id: params.term,
            text: params.term
          }
        }
        // ajax: {
        //   delay: 500,
        //   url({ term }) {
        //     return '/core/accounts/' + (term || '_')
        //   },
        //   data() {
        //     return {}
        //   },
        //   processResults({ data }) {
        //     data.id = data.icheckId
        //     data.text = data.name + ' (' + data.id + ')';

        //     return {
        //       results: [data]
        //     }
        //   }
        // }
      })

    this.gridOptions.api.sizeColumnsToFit()
    const datasource = {
      async getRows(params) {
        let res = await axios.post('/qrCode/agencies/query', params.request)
        params.successCallback(res.data.data, res.data.meta.count)
      }
    }
    this.gridOptions.api.setEnterpriseDatasource(datasource)
  }
}
</script>
