<template>
  <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop  m-body m-page__container">
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      <!-- BEGIN: Subheader -->
      <div class="m-subheader ">
        <div class="d-flex align-items-center">
          <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Danh sách Công ty</h3>
            <!-- <router-link
              class="btn btn-outline-primary m-btn m-btn--icon"
              tag="button"
              :to="{ name: 'qrCode.agency.create' }"
            >
              <span>
                <i class="la la-plus"></i>
                <span>Tạo đại lý</span>
              </span>
            </router-link> -->
            <!-- <button type="button" class="btn btn-outline-danger m-btn m-btn--icon" :disabled="selectedMembers <= 0">
              <span>
                <i class="la la-user-times"></i>
                <span>Xóa</span>
              </span>
            </button> -->
          </div>
        </div>
      </div>
      <!-- END: Subheader -->
      <div class="m-content">
        <div class="m-alert m-alert--icon m-alert--air m-alert--square alert alert-dismissible m--margin-bottom-30" role="alert">
          <div class="m-alert__icon m-alert__icon--top">
            <i class="flaticon-exclamation m--font-info"></i>
          </div>
          <div class="m-alert__text">
            <p>
              Danh sách Đại lý QR Code.
            </p>
          </div>
        </div>
        <ag-grid-vue
          style="width: 100%; height: 500px;"
          class="ag-theme-bootstrap"
          :gridOptions="gridOptions"
          :rowData="members"
          :selectionChanged="onSelectionChanged"
        >
        </ag-grid-vue>
      </div>
    </div>
  </div>
</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import axios from 'axios'
import { map } from 'lodash'

export default {
  data() {
    return {
      members: [],
      selectedMembers: []
    }
  },
  computed: {
    gridOptions() {
      return {
        rowModelType: 'enterprise',
        deltaRowDataMode: true,
        getRowNodeId: data => data.id,
        enableSorting: true,
        multiSortKey: 'ctrl',
        enableFilter: true,
        animateRows: true,
        rowSelection: 'multiple',
        rowMultiSelectWithClick: true,
        rowDeselection: true,
        enableColResize: true,
        context: {
          componentParent: this
        },
        pagination: true,
        suppressRowClickSelection: true,
        suppressCellSelection: true,
        columnDefs: [
          {
            headerName: 'Tên',
            field: 'name',
            pinned: 'left',
            suppressMovable: true,
            filter: 'agTextColumnFilter',
            checkboxSelection: true,
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true
          },
          {
            headerName: 'Email',
            field: 'email',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Số điện thoại',
            field: 'phone',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Địa chỉ',
            field: 'address',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Website',
            field: 'website',
            filter: 'agTextColumnFilter'
          },
          {
            headerName: 'Lần cập nhật cuối',
            field: 'updatedAt',
            filter: 'agDateColumnFilter'
          },
          {
            headerName: 'Ngày tạo',
            field: 'createdAt',
            filter: 'agDateColumnFilter'
          }
        ]
      }
    }
  },
  components: {
    'ag-grid-vue': AgGridVue
  },
  methods: {
    onSelectionChanged(event) {
      this.selectedMembers = map(event.api.getSelectedNodes(), node => {
        return node.data
      })
    }
  },
  created() {
  },
  mounted() {
    this.gridOptions.api.sizeColumnsToFit()
    const datasource = {
      async getRows(params) {
        let res = await axios.post('/qrCode/companies/query', params.request)
        params.successCallback(res.data.data, res.data.meta.count)
      }
    }
    this.gridOptions.api.setEnterpriseDatasource(datasource)
  }
}
</script>
